{% extends "../main.html" %}

{% block title %}Bokför{% endblock %}

{% block content %}
    <div id="data">
        <p>
            Här kan du hitta alla kvitton som är klara att bokföras som innehåller kvittodelar som du är ansvarig för.
            Observera att alla delar av ett kvitto måste bokföras samtidigt i samma verifikat (är det flera olika
            resultatställen så prata med bokföringsansvarig för den andra nämnden).
        </p>
        <div class="select" style="float:right">
            <select v-model="cost_centre">
                <option :value="false">Filtrera på resultatställe</option>
                <option v-for="cost_centre in cost_centres"
                        v-text="cost_centre + ' (' + expenses.filter(x => x.cost_centres.indexOf(cost_centre) > -1).length + ' + ' + invoices.filter(x => x.cost_centres.indexOf(cost_centre) > -1).length + ')'"
                        :value="cost_centre"></option>
            </select>
        </div>

        <h2>Utlägg</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3"><h3>Beskrivning</h3></div>
                <div class="col-lg-3"><h3>Inköpsdatum</h3></div>
                <div class="col-lg-3"></div>
            </div>

            {% for expense in expenses %}
                <form method="post" action={% url 'fortnox-account-expense' expense.id %}>
                    <div class="row theme-label-when-auto">
                        <div class="col-lg-3">({{ expense.id }})
                            <a href="/expenses/{{ expense.id }}">{{ expense.description }}</a></div>
                        <div class="col-lg-3">{{ expense.expense_date|date:"Y-m-d" }}</div>
                        <div class="col-lg-3 pull-right">
                            {% if not expense.verification %}
                                <button class="theme-color btn-color" type="submit">Bokför</button>
                            {% else %}
                                <span>Sparade: <span
                                        style="font-weight: bold;">{{ expense.verification }}</span>.</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="container">
                        {% for part, default_account, cost_center in expense_parts %}
                            {% if part.expense == expense %}
                                <div class="row">
                                    <select name="part-{{ part.id }}-account" class="col-sm-1">
                                        <option>{{ default_account }}</option>
                                    </select>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="row">
                                            <!-- Cost Center -->
                                            <div class="col-sm-4">
                                                <select name="part-{{ part.id }}-cost_center"
                                                        class="form-control cost-center-select"
                                                        data-part-id="{{ part.id }}">
                                                    <option value="{{ part.cost_centre }}">{{ part.cost_centre }}</option>
                                                </select>
                                            </div>

                                            <!-- Secondary Cost Center -->
                                            <div class="col-sm-4">
                                                <select name="part-{{ part.id }}-secondary_cost_center"
                                                        class="form-control secondary-cost-center-select"
                                                        data-part-id="{{ part.id }}">
                                                    <option value="">Välj sekundärt</option>
                                                </select>
                                            </div>

                                            <!-- Budget Line -->
                                            <div class="col-sm-4">
                                                <select name="part-{{ part.id }}-budget_line"
                                                        class="form-control budget-line-select"
                                                        data-part-id="{{ part.id }}">
                                                    <option value="">Välj budgetrad</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        {{ part.amount }} kr
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <hr>
                    </div>

                    {% csrf_token %}
                </form>
            {% endfor %}
        </div>
    </div>


    <h2>Fakturor</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"><h3>Beskrivning</h3></div>
            <div class="col-lg-3"><h3>Inköpsdatum</h3></div>
            <div class="col-lg-3"></div>
        </div>

        {% for invoice in invoices %}
            <form method="post" action={% url 'fortnox-account-invoice' invoice.id %}>
                <div class="row theme-label-when-auto">
                    <div class="col-lg-3">({{ invoice.id }})
                        <a href="/invoices/{{ invoice.id }}">{{ invoice.description }}</a>
                    </div>
                    <div class="col-lg-3">{{ invoice.invoice_date|date:"Y-m-d" }}</div>
                    <div class="col-lg-3 pull-right">
                        {% if not invoice.verification %}
                            <button class="theme-color btn-color" type="submit">Bokför</button>
                        {% else %}
                            <span>Sparade: <span style="font-weight: bold;">{{ invoice.verification }}</span>.</span>
                        {% endif %}
                    </div>
                </div>
                <div class="container">
                    {% for part, default_account, cost_center, snd_cost_center, budget_line in invoice_parts %}
                        {% if part.invoice == invoice %}
                            <div class="row">
                                <select name="part-{{ part.id }}-account" class="col-sm-1">
                                    <option>{{ default_account }}</option>
                                </select>
                                <div class="col-sm-6 col-lg-6">
                                    <div class="row">
                                        <!-- Cost Center -->
                                        <div class="col-sm-4">
                                            <select name="part-{{ part.id }}-cost_center"
                                                    class="form-control cost-center-select"
                                                    data-part-id="{{ part.id }}">
                                                <option value="{{ cost_center.id}}">{{ cost_center.name}}</option>
                                            </select>
                                        </div>

                                        <!-- Secondary Cost Center -->
                                        <div class="col-sm-4">
                                            <select name="part-{{ part.id }}-secondary_cost_center"
                                                    class="form-control secondary-cost-center-select"
                                                    data-part-id="{{ part.id }}">
                                                <option value="{{ snd_cost_center.id }}">{{ snd_cost_center.name }}</option>
                                            </select>
                                        </div>

                                        <!-- Budget Line -->
                                        <div class="col-sm-4">
                                            <select name="part-{{ part.id }}-budget_line"
                                                    class="form-control budget-line-select"
                                                    data-part-id="{{ part.id }}">
                                                <option value="{{ budget_line.id }}">{{ budget_line.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    {{ part.amount }} kr
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <hr>
                </div>

                {% csrf_token %}
            </form>
        {% endfor %}
    </div>

    <script src="/static/account.js"></script>

{% endblock %}
