{% extends "../main.html" %}

{% block title %}Bokför{% endblock %}

{% block content %}
<div id="data">
    <p>
        Här kan du hitta alla kvitton som är klara att bokföras som innehåller kvittodelar som du är ansvarig för. Observera att alla delar av ett kvitto måste bokföras samtidigt i samma verifikat (är det flera olika nämnder så prata med bokföringsansvarig för den andra nämnden).
    </p>

    <div class="select" style="float:right">
        <select v-model="committee">
            <option :value="false">Filtrera på nämnd</option>
            <option v-for="committee in committees" v-html="committee + ' (' + (expenses.filter(x => x.committees.indexOf(committee) > -1).length) + ')'" :value="committee"></option>
        </select>
    </div>
    <h2>Utlägg</h2>
    <table v-if="expenses.length > 0">
        <thead>
            <tr>
                <th>Beskrivning</th>
                <th>Inköpsdatum</th>
                <th class="right">Verifikationsnummer</th>
            </tr>
        </thead>
        <tbody v-for="expense in expenses" v-if="committee == false || expense.committees.indexOf(committee) > -1">
            <tr>
                <td><a v-bind:href="'/expenses/' + expense.id" v-html="expense.description"></a></td>
                <td v-html="expense.expense_date"></td>
                
                <td class="right">
                    <div v-if="!expense.verification">
                        <form v-on:submit.prevent="save(expense)" method="POST" v-bind:action="'expense/' + expense.id + '/verification'">
                            {% csrf_token %}
                            <input type="text" style="width:120px;" name="verification" v-model="expense.verificationString" placeholder="Tex. E214">
                            <button class="theme-color btn-color" v-on:click="save(expense, $event)">Spara</button>
                        </form>
                    </div>
                    <div v-else>
                        <span>Sparade: <span style="font-weight: bold;" v-html="expense.verification"></span>.</span>
                    </div>
                </td>
            </tr>
            <tr v-if="!expense.verification">
                <td colspan="3">
                    <table>
                        <tr v-for="expensePart in expense.expense_parts">
                            <td style="text-align: right; width: 50%;" v-html="expensePart.committee_name + ' > ' + expensePart.cost_centre_name + ' > ' + expensePart.budget_line_name"></td>
                            <td v-html="expensePart.amount + ' kr'"></td>
                        </tr>
                        <tr style="font-weight: bold;">
                            <td class="right">Totalt:</td>
                            <td><span v-html="expense.expense_parts.map(x => x.amount).reduce((a,b) => a + b, 0)"></span> kr</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <p v-else><b>Du har inga kvitton att bokföra. Bra jobbat!</b></p>



    <h2>Fakturor</h2>
    <table v-if="invoices.length > 0">
        <thead>
            <tr>
                <th>Beskrivning</th>
                <th>Inköpsdatum</th>
                <th class="right">Verifikationsnummer</th>
            </tr>
        </thead>
        <tbody v-for="invoice in invoices" v-if="committee == false || invoice.committees.indexOf(committee) > -1">
            <tr>
                <td><a v-bind:href="'/invoices/' + invoice.id" v-html="invoice.description"></a></td>
                <td v-html="invoice.invoice_date"></td>
                
                <td class="right">
                    <div v-if="!invoice.verification">
                        <form v-on:submit.prevent="saveInvoice(invoice)" method="POST" v-bind:action="'invoice/' + invoice.id + '/verification'">
                            {% csrf_token %}
                            <input type="text" style="width:120px;" name="verification" v-model="invoice.verificationString" placeholder="Tex. U214">
                            <button class="theme-color btn-color" v-on:click="saveInvoice(invoice, $event)">Spara</button>
                        </form>
                    </div>
                    <div v-else>
                        <span>Sparade: <span style="font-weight: bold;" v-html="invoice.verification"></span>.</span>
                    </div>
                </td>
            </tr>
            <tr v-if="!invoice.verification">
                <td colspan="3">
                    <table>
                        <tr v-for="invoicePart in invoice.invoice_parts">
                            <td style="text-align: right; width: 50%;" v-html="invoicePart.committee_name + ' > ' + invoicePart.cost_centre_name + ' > ' + invoicePart.budget_line_name"></td>
                            <td v-html="invoicePart.amount + ' kr'"></td>
                        </tr>
                        <tr style="font-weight: bold;">
                            <td class="right">Totalt:</td>
                            <td><span v-html="invoice.invoice_parts.map(x => x.amount).reduce((a,b) => a + b, 0)"></span> kr</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <p v-else><b>Du har inga fakturor att bokföra. Bra jobbat!</b></p>
</div>

<script type="text/javascript">
    new Vue({
        el: '#data', 
        data: function () {
            return {
                committee: false,
                committees: [],
                expenses: {% autoescape off %}{{ expenses }}{% endautoescape %},
                invoices: {% autoescape off %}{{ invoices }}{% endautoescape %}
            }
        },
        methods: {
            save: function (expense, e) {
                let idx = this.expenses.findIndex(x => x.id === expense.id)
                if (idx === -1) {
                    return
                }

                let form = new FormData()
                form.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                form.append('verification', expense.verificationString)

                fetch('/admin/expense/' + expense.id + '/verification/', {
                    method: 'POST',
                    credentials: 'same-origin',
                    body: form
                })
                .then(res => {
                    console.log(res)
                    return res.text()
                })
                .then(res => {
                    this.expenses[idx].verification = expense.verificationString
                })
                if (e) e.preventDefault()
            },
            saveInvoice: function (invoice, e) {
                let idx = this.invoices.findIndex(x => x.id === invoice.id)
                if (idx === -1) {
                    return
                }

                let form = new FormData()
                form.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                form.append('verification', invoice.verificationString)

                fetch('/admin/invoice/' + invoice.id + '/verification/', {
                    method: 'POST',
                    credentials: 'same-origin',
                    body: form
                })
                .then(res => {
                    console.log(res)
                    return res.text()
                })
                .then(res => {
                    this.invoices[idx].verification = invoice.verificationString
                })
                if (e) e.preventDefault()
            }
        },
        created: function() {
            this.committees = Array.from(new Set([].concat.apply([], this.expenses.map(x => x.committees))))
            console.log(this.expenses)
        }
    })
</script>
{% endblock %}
