# Example .env file. Create a file called ".env" and place your variabled there
DATABASE_URL=postgresql://USERNAME:PASSWORD@localhost:5432/DB_NAME
DEBUG=True
LOGIN_KEY=super_secret
SPAM_API_KEY=super_secret
SEND_EMAILS=True
PLS_URL=https://pls.datasektionen.se
LOGIN_URL=https://login.datasektionen.se
