[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-widget-tweaks = "*"
django = "*"
raven = "*"
whitenoise = "*"
psycopg2 = "*"
django-cors-headers = "*"
requests = "*"
dj-database-url = "*"
django-queued-storage = "*"
djangorestframework = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.11"
