{% extends "../main.html" %}
{% load humanize %}

{% block title %}Alla utlägg{% endblock %}

{% block content %}
<div id="app">
    <div class="select" style="margin-left: 10px;float:right">
        <select v-model="cost_centre" v-on:change="move">
            <option :value="''">Filtrera på resultatställe (visa alla)</option>
            <option v-for="cost_centre in cost_centres.sort((a, b) => a.localeCompare(b, 'sv-SE'))" v-text="cost_centre" :value="cost_centre"></option>
        </select>
    </div> 
    <label for="flagged" style="padding-right: 0.5em;">Visa endast flaggade</label><input v-model="flagged" type="checkbox" id="flagged" /><br />
    <div class="clearfix"></div>
    <br />
    <table v-if="expenses.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Verifikat</th>
                <th>Beskrivning</th>
                <th>Ägare</th>
                <th>Resultatställen</th>
                <th class="right">Belopp</th>
                <th class="right">Transaktionsdatum</th>
            </tr>
        </thead>
        <tr v-for="expense in expenses" v-if="(!flagged || expense.is_flagged === true)">
                <td class="no-wrap" v-text="expense.id"></td>
                <td class="no-wrap"><a :href="'/expenses/' + expense.id + '/'" v-text="expense.status"></a></td> 
                <td><a :href="'/expenses/' + expense.id + '/'" v-text="capFirst(expense.description)"></a> </td>
                <td class="no-wrap"><a :href="'/users/' + expense.owner_username + '/'" v-text="expense.owner_first_name + ' ' + expense.owner_last_name"> </a></td>
                <td v-text="expense.cost_centres.join(', ')"></td>
                <td class="right no-wrap">

                    <span v-text="intcomma(expense.amount)"></span> kr</td>
                <td class="right no-wrap" v-text="expense.expense_date"></td>
                <td class="right no-wrap">
                    <span class="icon" v-if="expense.is_flagged===true"><i class="fa fa-flag" style="color: red"></i></span>
                    <span class="icon" v-if="expense.is_flagged===false"><i class="fa fa-flag"></i></span>
                </td>
        </tr>

            <tfoot>
                <tr>
                    <td class="right" colspan="5">
                        <span class="current">
                            Sida {{ pages.number }} av {{ pages.num_pages }}. 
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if pages.has_previous %}
                    <a :href="'?page={{ pages.previous_page_number }}&cost_centre=' + cost_centre">Föregående</a>
                {% endif %} 

                {% for i in pages.page_range %}
                    <a :href="'?page={{ i }}&cost_centre=' + cost_centre" {% if i == pages.number %} class="active"{% endif %}>{{i}}</a>
                {% endfor %}

                {% if pages.has_next %}
                    <a :href="'?page={{ pages.next_page_number }}&cost_centre=' + cost_centre">Nästa</a>
                {% endif %}
            </span>
        </div>
    <p v-else>Det finns inga kvitton.</p>
</div>
<script type="text/javascript">
    let getParameterByName = (name, url) => {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return '';
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    new Vue({
        el: '#app',
        data: function () {
            return {
                flagged: false,
                cost_centres: {% autoescape off %}{{ cost_centres }}{% endautoescape %},
                cost_centre: '{% autoescape off %}{{ cost_centre }}{% endautoescape %}',
                expenses: {% autoescape off %}{{ expenses }}{% endautoescape %}
            }
        },
        methods: {
            move() {
                window.location.href = '?page=' + getParameterByName('page') + '&cost_centre=' + this.cost_centre
            },
            intcomma(text){
                return parseInt(text).toLocaleString("en")
            },
            capFirst(val) {
                return String(val).charAt(0).toUpperCase() + String(val).slice(1);
            },
        },

        created: function() {

        }
    })
</script>
{% endblock %}
