{% extends "expenses/detail.html" %}
{% load widget_tweaks %}

{% block title %}Ta bort kvitto{% endblock %}

{% block full_content %}
<p>Är du helt säker på att du vill ta bort kvittot "{{ expense.description }}"? Detta går inte att ångra!</p>
<form method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <div class="col-sm-offset-10 col-sm-2">
            <button type="submit" class="button primary-action btn-color">Ta bort kvittot</button>
        </div>
    </div>
</form>
<div class="clearfix"></div>
{% endblock %}