{% extends "../detail.html" %}
{% load widget_tweaks %}

{% block title %}Ändra kvitto{% endblock %}

{% block full_content %}
<div id="form" class="form">
    <p>Ladda endast upp ett kvitto i taget. När du laddar upp en faktura eller onlinebetalning måste du också ladda upp ett kontoutdrag.</p>
    <form method="POST" action="" class="form-horizontal" enctype="multipart/form-data">
        <div class="form">
        {% csrf_token %}
            <div class="form-entry">
                <span class="description">
                    <label for="expense-description" v-tooltip="{ content: 'En beskrivning av innehållet och varför det köptes' }">Beskrivning:</label>
                </span>
                <div class="input">
                    <input type="text" name="description" value="{{ expense.description }}" placeholder="Lägg till beskrivning" class="long" required />
                </div>
            </div>
            <div class="form-entry">
                <span class="description">
                    <label for="expense-date" v-tooltip="{ content: 'Det datum inköpet gjordes (samma som på kvittot)' }">
                        Transaktionsdatum:
                    </label>
                    <span class="hint"></span>
                </span>
                <div class="input">
                    <input type="date" value="{{ expense.expense_date|date:"c" }}" name="expense_date" required/>
                </div>
            </div>
        </div>

        <h2>Kvittodelar</h2>
        <p>Här anger du hur stor andel av kvittot som köptes in på respektive budgetpost. Summan på kvittot måste vara större eller lika med summan av nedanstående rader.</p>

        <div id="expense_parts" v-if="committees.length > 0">
            <div v-for="(expense_part, i) in expense_parts" class="form expense-part" style="position: relative" :key="i">
                <button type="button" v-tooltip="{ content: 'Ta bort den här kvittodelen' }" style="background:#a00; color: #fff; position: absolute;right:0;" v-if="expense_parts.length > 1" v-on:click="removePart(i)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <input type="hidden" name="expensePartId[]" :value="expense_part.id">
                <div class="form-entry">
                    <span class="description">
                        <label for="expense_part-committee">
                            Nämnd:
                        </label>
                    </span>
                    <div class="input">
                        <div class="select">
                            <select name="committee[]" v-model="expense_part.committeeId" required>
                                <option value="0">- Välj -</option>
                                <option v-for="committee in committees" :key="committee.id" v-html="committee.name" v-bind:value="committee.id"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-entry">
                    <span class="description">
                        <label for="expense_part-cost_centre">
                            Sekundärt resultatställe:
                        </label>
                    </span>
                    <div class="input">
                        <div class="select" v-if="expense_part.committeeId > 0">
                            <select name="costCentre[]" v-model="expense_part.costCentreId" required>
                                <option value="0">- Välj -</option>
                                <option v-for="costCentre in committees.filter(x => x.id == expense_part.committeeId)[0].cost_centres" v-html="costCentre.name" v-bind:value="costCentre.id"></option>
                            </select>
                        </div>
                        <div class="select disabled" v-else>
                            <select name="costCentre[]" required disabled></select>
                        </div>
                    </div>
                </div>

                <div class="form-entry">
                    <span class="description">
                        <label for="expense_part-budget_line">
                            Budgetpost:
                        </label>
                    </span>
                    <div class="input">
                        <div class="select" v-if="expense_part.committeeId > 0 && expense_part.costCentreId > 0">
                            <select name="budgetLine[]" v-model="expense_part.budgetLineId" required>
                                <option value="0">- Välj -</option>
                                <option v-for="budgetLine in committees.filter(x => x.id == expense_part.committeeId)[0].cost_centres.filter(x => x.id == expense_part.costCentreId).length == 0 ? [] : committees.filter(x => x.id == expense_part.committeeId)[0].cost_centres.filter(x => x.id == expense_part.costCentreId)[0].budget_lines" v-html="budgetLine.name" v-bind:value="budgetLine.id"></option>
                            </select>
                        </div>
                        <div class="select disabled" v-else>
                            <select name="budgetLine[]" required disabled></select>
                        </div>
                    </div>
                </div>

                <div class="form-entry">
                    <span class="description">
                        <label for="expense_part-amount">
                            Summa:
                        </label>
                    </span>
                    <div class="input">
                        <input type="number" step="0.01" v-model="expense_part.amount" name="amount[]" required>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <button type="button" v-tooltip="{ content: 'Om du köpt in saker under olika budgetposter skapar du en kvittodel per budgetpost' }" style="float:left;" v-on:click="addPart()"><i class="fa fa-plus"></i> Lägg till en till kvittodel</button>
        </div>
        <p style="text-align: center" v-else>Laddar...</p>
        <input type="submit" v-tooltip="{ content: 'Spara kvittot när allt ser bra ut' }" style="float: right" value="Spara och registrera kvitto" class="button primary-action theme-color btn-color">
    </form>
</div>

<script type="text/javascript">
    new Vue({
        el: '#form', 
        data: function () {
            return {
                committees: [],
                expense_parts: [
                {% for expense_part in expenseparts %}
                    {
                        expense: '',
                        committeeId: {{ expense_part.committee_id }},
                        costCentreId: {{ expense_part.cost_centre_id }},
                        budgetLineId: {{ expense_part.budget_line_id }},
                        amount: parseFloat('{{ expense_part.amount }}'.replace(',', '.')),
                        id: {{ expense_part.id }}
                    } {% if not forloop.last %},{% endif %}
                {% endfor %}
                ]
            }
        },
        created: function () {
            fetch('https://budget.datasektionen.se/api/committees?verbose')
                .then(res => res.json())
                .then(res => {
                    this.committees = res
                })
        },
        methods: {
            addPart: function () {
                this.expense_parts.push({
                    committeeId: this.expense_parts.length > 0 ? this.expense_parts[this.expense_parts.length - 1].committeeId : 0,
                    costCentreId: 0,
                    budgetLineId: 0,
                    amount: 0,
                    id: -1
                })
            },
            removePart: function (i) {
                if (this.expense_parts <= 2) {
                    return
                }
                this.expense_parts.splice(i, 1)
            }
        }
    })
</script>
{% endblock %}