{% extends "expenses/detail.html" %}
{% load humanize %}

{% block title %}Utbetalning {{ payment.tag }}{% endblock %}

{% block full_content %}

    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Utbetalning {{ payment.tag }}</th>
                    </tr>
                </thead>
                <tr>
                    <th>Mottagare:</th>
                    <td>
                        <a href="{% url 'user-show' payment.receiver.user %}">
                            {{ payment.receiver.user.get_full_name }} ({{ payment.receiver.user.username }}@kth.se)
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Utbetalningsdatum:</th>
                    <td>{{ payment.date|date:"Y-m-d" }}</td>
                </tr>
                <tr>
                    <th>Utbetalat från konto:</th> 
                    <td>{{ payment.account }}</td>
                </tr>
                <tr>
                    <th>Utbetalat av:</th>
                    <td>
                        <a href="{% url 'user-show' payment.payer.user %}">
                            {{ payment.payer.user.get_full_name }} ({{ payment.payer.user.username }}@kth.se)
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Summa:</th>
                    <td>{{ payment.amount|intcomma }} kr</td>
                </tr>
            </table>
        </div>

        <h2>Kvitton</h2>
        <table>
            <thead>
                <tr>
                    <th>Beskrivning</th>
                    <th>Belopp</th>
                </tr>
            </thead>
            {% for expense in payment.expense_set.all %}
                <tr>
                    <td><a href="{% url 'expenses-show' expense.id %}">{{ expense.description|capfirst }}</a></td>
                    <td>{{ expense.total_amount|intcomma }} kr</td>
                </tr>
            {% endfor %}


        </table>
    </div>

{% endblock %}