{% extends "../detail.html" %}
{% load humanize %}

{% block title %}
    {{ expense.description|capfirst }}
{% endblock %}

{% block action %}
    {% if user.username == expense.owner.user.username %}
        <a href="{% url 'expenses-edit' expense.id %}" class="primary-action">
            Redigera kvitto
        </a>
    {% endif %}
{% endblock %}

{% block full_content %}
<div id="app">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Kvittodelar</h2>
    <table>
        <thead>
            <tr>
                <th>
                    Belopp
                </th>
                <th>
                    Nämnd
                </th>
                <th>
                    Sekundärt resultatställe
                </th>
                <th>
                    Budgetpost
                </th>
                <th>
                    Attesterad av
                </th>
            </tr>
        </thead>
        <tbody>
        {% for expense_part in expense.expensepart_set.all %}
            <tr>
                <td>
                    <span class="value">{{ expense_part.amount|intcomma }} kr</span>
                </td>
                <td>
                    <a class="value" href="https://budget.datasektionen.se/committees/{{ expense_part.committee_id }}">
                        {{ expense_part.committee_name }}
                    </a>
                </td>
                <td>
                    <span class="value">{{ expense_part.cost_centre_name }}</span>
                </td>
                <td>
                    <span class="value">{{ expense_part.budget_line_name }}</span>
                </td>
                <td>
                    {% if expense_part.attested_by %}
                    <a class="value" href="{% url 'user-show' expense_part.attested_by.user.username %}">
                        {{ expense_part.attested_by.user.get_full_name }} ({{ expense_part.attest_date }})
                    </a>
                    {% else %}
                        {% if expense.owner.user.username != user.username and expense_part.committee_name|lower in user.profile.may_attest %}
                            <span style="display: block;">
                                <form method="POST" action="{% url 'admin-expensepart-attest' expense_part.id %}">
                                    {% csrf_token %}
                                    <button class="pull-right small theme-color btn-color" type="submit" style="margin-right:15px;"><i class="fa fa-check" aria-hidden="true"></i></button>
                                    <span style="margin: 5px 0;display:inline-block;">Du kan attestera &nbsp;</span>
                                </form>
                            </span>
                        {% else %}
                            <span class="value">Ej attesterad</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="clear" style="height:50px;"></div>


    <div class="col-sm-6 col-lg-6" style="padding-left: 0;">
        <h2>Information</h2>
        <table>
            <tr>
                <th>Kvitto-id:</th>
                <td>{{ expense.id }}</td>
            </tr>
            <tr>
                <th>Köpt av:</th>
                <td>
                    <a href="{% url 'user-show' expense.owner.user.username %}">
                        {{ expense.owner.user.get_full_name }} ({{ expense.owner.user.username }}@kth.se)
                    </a>
                </td>
            </tr>
            <tr>
                <th>Inköpsdatum:</th>
                <td>
                    {{ expense.expense_date|date:"Y-m-d" }}
                </td>
            </tr>
            <tr>
                <th>Totalsumma:</th>
                <td>
                    {{ expense.total_amount|intcomma }} kr
                </td>
            </tr>
            <tr>
                <th>Registrerat i Cashflow:</th>
                <td>
                    {{ expense.created_date|date:"Y-m-d" }}
                </td>
            </tr>
            <tr>
                <th>Bekräftat i pärmen:</th>
                <td>
                    {% if expense.confirmed_by_id %}
                     {{ expense.confirmed_by.get_full_name }} ({{ expense.confirmed_at }})
                    {% else %}
                    Inte än
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Återbetalat:</th>
                <td>
                    {% if expense.reimbursement %}
                    <a href="{% url 'expenses-payment' expense.reimbursement.id %}">
                        {{ expense.reimbursement.tag }}
                    </a>
                    {% else %}
                    Ej återbetald
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Verifikationsnummer:</th>
                <td>{{ expense.verification|default:"Ej bokförd" }} {% if may_account %}(<a href="{% url 'admin-expense-edit-verification' expense.id %}">Ändra</a>){% endif %}</td>
            </tr>
            <tr>
                <td colspan="2"><a href="{% url 'expenses-delete' expense.id %}"><i class="fa fa-trash"></i> Ta bort kvitto</a></td>
            </tr>
        </table>
    </div>

    <div class="col-sm-6 col-lg-6" style="padding-right: 0;">
        <h2>Filer</h2>
        {% for file in expense.file_set.all %}
        <a href="{{ file.file.url }}">{{ file.file.name }}</a>:<br>
        {% if file.is_image %}
        <a href="{{ file.file.url }}" target="_blank">
            <img class="zoom center-block" style="width: 70%;" src="{{ file.file.url }}" />
        </a>
        {% else %}
        <iframe src="{{ file.file.url }}" style="width:100%;height: 60vh;"></iframe>
        {% endif %}
        <br>
        {% endfor %}
    </div>


    <div class="clearfix"></div>

    <div>
        <h2>Kommentarer</h2>

        <ul class="comments">
            {% for comment in expense.comment_set.all %}
            <li class="clearfix {% if comment.author.user.username == user.username %}own{% endif %}">
                <div class="info">
                    <a v-tooltip="{ content: '{{ comment.author.user.get_full_name }}' }" class="crop" style="background-image:url(https://zfinger.datasektionen.se/user/{{ comment.author.user.username }}/image);" href="/user/{{ comment.author.user.username }}"></a>
                    <span class="name">
                        <a href="{% url 'user-show' comment.author.user.username %}">
                            
                        </a>
                    </span>
                </div>
                <div class="comment" v-tooltip="{ content: 'Skapad {{ comment.date|date:'Y-m-d H:i' }}' }">
                    {{ comment.content }}
                </div>
            </li>
            {% endfor %}
            <li class="new">
                <div class="comment">
                    <form method="POST" id="new" action="{% url 'expenses-comment' expense.id %}">
                        {% csrf_token %}
                        <textarea id="content-field" name="content" rows="3" style="width: 100%;border:none;" placeholder="Skriv en kommentar"></textarea>
                        <button class="pull-right button theme-color btn-color" type="submit">Kommentera</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </li>
            <li class="alternatives">
                <h3>Eller skicka en färdig kommentar:</h3>
                <ul>
                    <li><a href="#" v-on:click="send">Jag kan inte hitta ditt utlägg i pärmen. Har du satt in det?</a></li>
                    <li><a href="#" v-on:click="send">Jag attesterar också detta.</a></li>
                    <li><a href="#" v-on:click="send">Det här har jag inte godkänt.</a></li>
                    <li><a href="#" v-on:click="send">Du har angivit större belopp än vad som står på kvittot.</a></li>
                    <li><a href="#" v-on:click="send">Du måste ladda upp både en faktura och ett kontoutdrag.</a></li>
                    <li><a href="#" v-on:click="send">Avvakta med det här utlägget.</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
    new Vue({
        el: '#app', 
        data: function () {
            return {

            }
        },
        methods: {
            send(e) {
                e.preventDefault()
                console.log(e.target.innerHTML)
                document.getElementById('content-field').value = e.target.innerHTML
                document.getElementById('new').submit()
            }
        },
        created() {

        }
    })
</script>
{% endblock %}
