{% extends "./main.html" %}
{% load humanize %}

{% block title %}Lista verifikat{% endblock %}

{% block content %}
    <div id="app">
        <div id="verification-filters" class="filters-row">
        <div class="select year-select">
            <select v-model="year" v-on:change="move">
                {% for year in years %}
                    <option :value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="select series-select">
            <select v-model="series" v-on:change="move">
                <option value="ALL">Alla</option>
                <option value="E">E</option>
                <option value="U">U</option>
            </select>
        </div>
        </div>
        <div class="clear"></div>
        <br/>
        {% if verifications %}
            <table>
                <thead>
                    <th>Ver.nr.</th>
                    <th>Beskrivning</th>
                    <th>Ägare</th>
                    <th>Inköpsdatum</th>
                </thead>
                {% for verification in verifications %}
                    <tr>
                        <td><a href="{{ verification.href }}">{{ verification.verification }}</a></td>
                        <td><a href="{{ verification.href }}">{{ verification.description|capfirst }}</a></td>
                        <td class="no-wrap"><a
                                href="{{ verification.owner_href }}">{{ verification.owner_label }}</a></td>
                        <td>{{ verification.date }}</td>
                    </tr>
                {% endfor %}
                <tfoot>
                <tr>
                    <td class="right" colspan="4">
                        <span class="current">Sida {{ verifications.number }} av {{ verifications.paginator.num_pages }}</span>
                    </td>
                </tr>
                </tfoot>
            </table>
            <div class="pagination">
        <span class="step-links">
            {% if verifications.has_previous %}
                <a href="?page={{ verifications.previous_page_number }}&year={{ year }}&series={{ series }}">Föregående</a>
            {% endif %}

            {% for i in verifications.paginator.page_range %}
                <a href="?page={{ i }}&year={{ year }}&series={{ series }}" {% if i == verifications.number %}
                   class="active"{% endif %}>{{ i }}</a>
            {% endfor %}

            {% if verifications.has_next %}
                <a href="?page={{ verifications.next_page_number }}&year={{ year }}&series={{ series }}">Nästa</a>
            {% endif %}
        </span>
            </div>
        {% else %}
            Det finns inga verifikat.
        {% endif %}
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: function () {
                return {
                    year: {% autoescape off %} {{ year }} {% endautoescape %},
                    series: "{{ series }}",
                }
            },
            methods: {
                move() {
                    this.params.set('year', this.year)
                    this.params.set('series', this.series)
                    this.params.delete('page')
                    window.location.href = `?${this.params.toString()}`
                }
            },
            created: function () {
                this.params = new URLSearchParams(window.location.search)
            },
        })
    </script>
{% endblock %}