{% extends "expenses/main.html" %}
<!--
    HERE BE DRAGONS
    WARNING - Horrendous code below
-->

{% block title %}Betala ut{% endblock %}

{% block full_content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        function select_all(box) {
            var checkboxes = $(box).closest("table").find(".select-expense");

            checkboxes.prop('checked', $(box).prop('checked'));
        }

        function update_account() {
            var accountclones = $('.account');
            accountclones.val($('#main_account').val())
        }

    </script>
    <div class="form">
    {% if payment %}
        <div class="alert alert-danger">
            <b>{{ payment.date|date:"Y-m-d" }}</b><br>
            Betala ut {{ payment.amount }} kr till {{ payment.receiver }} ({{ payment.receiver.user.username }}) från
            sektionskontot "{{ payment.account }}", använd meddelandet "{{ payment.tag }}"
            <br><b>Bank:</b> {{ payment.receiver.bank_name }}
            <br><b>Clearingnummer:</b> {{ payment.receiver.sorting_number }}
            <br><b>Kontonummer:</b> {{ payment.receiver.bank_account }}
            <h1 style="border-bottom: 0"><b>Meddelande:</b> {{ payment.tag }}</h1>
        </div>
    {% endif %}

    <p>Här kan du hitta alla kvitton som är redo att betalas ut ordnade efter användare.</p>
    <p>Välj vilket konto du kommer betala ut ifrån innan du börjar göra utbetalningar. Du kan ställa in ditt standardkonto på din profil.</p>
    <label for="account">Bankkonto:</label><br>
    <div class="select">
        <select id="main_account" onchange="update_account()">
            {% for account in accounts %}
                <option value="{{ account.name }}" {% if account == user.profile.default_account %} selected {% endif %}>{{ account.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="clearfix"></div>

    <h2>Kvitton</h2>
    {% if payable_expenses %}
        {% for expense in payable_expenses %}
            {% ifchanged expense.owner %}
                {% if not forloop.first %}
                    <tr>
                        <td colspan="3">
                            <div class="pull-right"><strong>Betala ut alla:</strong></div>
                        </td>
                        <td><div class="checkbox"><input type="checkbox" onclick="select_all(this)"><label></label></div></td>
                    </tr>
                    </table>
                    <div class="panel-body">
                        <button class="btn pull-right">Betala ut valda</button>
                    </div>
                    </form>
                    </div>
                {% endif %}
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><b>{{ expense.owner }}</b></h4>
                </div>
                <table class="table">
                <tr>
                    <th>Beskrivning</th>
                    <th>Nämnder</th>
                    <th>Belopp</th>
                    <th>Betala ut</th>
                </tr>
                <form method="POST" action="{% url 'expenses-payment-new' %}">
                {% csrf_token %}
                <input class="account" value="{{ user.profile.default_account.name|default:accounts.0 }}" name="account"
                       hidden>
            {% endifchanged %}
        <tr>
            <td>{{ expense.description|capfirst }}</td>
            <td>{% for committee in expense.committees %}
                {{ committee.committee_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}</td>
            <td>{{ expense.total_amount }} kr</td>
            <td><div class="checkbox"><input id="x{{ expense.id }}" class="select-expense" type="checkbox" value="{{ expense.id }}" name="expense"><label for="x{{ expense.id }}"></label></div></td>
        </tr>
        {% if forloop.last %}
            <tr>
                <td colspan="3">
                    <div class="pull-right"><strong>Betala ut alla:</strong></div>
                </td>
                <td><div class="checkbox"><input type="checkbox" onclick="select_all(this)" id="x{{ expense.owner.username }}"><label for="x{{ expense.owner.username }}"></label></div></td>
            </tr>
            </table>
            <div class="panel-body">
                <button class="btn pull-right">Betala ut valda</button>
            </div>
            </form>
            </div>
        {% endif %}
        {% endfor %}
    {% else %}
        Det finns inga nya kvitton som går att betala ut.
    {% endif %}
</div>
{% endblock %}