{% extends "expenses/main.html" %}

{% block title %}Bekräfta kvitton i pärmen{% endblock %}

{% block full_content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
<div id="data">
    <p>Här kan du hitta alla kvitton som inte bekräftats finns i pärmen.</p>
        <table v-if="expenses.length > 0">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Beskrivning</th>
                    <th>Ägare</th>
                    <th>Belopp</th>
                </tr>
            </thead>
            <tr v-for="expense in expenses">
                <td v-if="!expense.confirmed">
                    <form v-on:submit.prevent="conf(expense)" method="POST" v-bind:action="'expense/' + expense.id + '/confirm/'">
                        {% csrf_token %}
                        <button class="theme-color btn-color" v-on:click="conf(expense, $event)">Bekräfta</button>
                    </form>
                </td>
                <td v-else>
                    Bekräftad
                </td>
                <td><a v-bind:href="'/expense/' + expense.id + '/'" v-html="expense.id"></a></td>
                <td><a v-bind:href="'/expense/' + expense.id + '/'" v-html="expense.description"></a></td>
                <td><a v-bind:href="'/users/' + expense.owner.username + '/'" v-html="expense.owner.name"></a></td>
                <td v-html="expense.amount + ' kr'"></td>
            </tr>
        </table>
        <p v-else>Det finns inga icke-godkända kvitton i pärmen.</p>
</div>

<script type="text/javascript">
    new Vue({
        el: '#data', 
        data: function () {
            return {
                expenses: {% autoescape off %}{{ confirmable_expenses }}{% endautoescape %}
            }
        },
        methods: {
            conf: function (expense, e) {
                let idx = this.expenses.findIndex(x => x.id === expense.id)
                if (idx === -1) {
                    return
                }

                let form = new FormData()
                form.append('csrfmiddlewaretoken', '{{ csrf_token }}')
                form.append('verification', expense.verificationString)

                fetch('/expense/' + expense.id + '/confirm/', {
                    method: 'POST',
                    credentials: 'same-origin',
                    body: form,
                    redirect: 'manual'
                })
                .then(res => {
                    return res.text()
                })
                .then(res => {
                    let exp = this.expenses[idx]
                    exp.confirmed = true
                    this.$set(this.expenses, idx, exp)
                })
                if (e) e.preventDefault()
            }  
        }
    })
</script>
{% endblock %}