{% extends "expenses/main.html" %}

{% block full_content %}
    <h2>Budgetöversikt</h2>
    <table class="table table-hover">
        <tr>
            <th>Nämnd</th>
            <th>Kostnadscentrum</th>
            <th>Budgetpost</th>
            <th>Spenderat</th>
        </tr>
        {% for row in expenses %}
            {% if row.spent != None or True %}
            <tr style="cursor: pointer">
                <td>{% ifchanged row.committee_name %} {{ row.committee_name }} {% endifchanged %}</td>
                <td>{% ifchanged row.costcentre_name %} {{ row.costcentre_name }} {% endifchanged %}</td>
                <td>{{ row.budgetline_name }}</td>
                <td>{% if row.spent != None %} {{ row.spent }} {% else %} 0 {% endif %}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}