{% extends "expenses/detail.html" %}
{% load widget_tweaks %}

{% block full_content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
    <div id="form" class="col-sm-8 col-sm-offset-2">
        <h1>Redigera kvittodel</h1>
        <form method="POST" action="" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}

                <div class="well" class="expense_part">
                    <div class="form-group">
                        <label for="expense_part-committee" class="col-sm-4 control-label">
                            Nämnd:
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" name="committee" v-model="expense_part.committeeId" required>
                                <option value="0">- Välj -</option>
                                <option v-for="committee in committees" v-html="committee.name" v-bind:value="committee.id"></option>
                            </select>
                            <select class="form-control" name="committee" required disabled v-else></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="expense_part-cost_centre" class="col-sm-4 control-label">
                            Sekundärt resultatställe:
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" name="costCentre" v-model="expense_part.costCentreId" required v-if="expense_part.committeeId > 0">
                                <option value="0">- Välj -</option>
                                <option v-for="costCentre in committees.filter(x => x.id == expense_part.committeeId)[0].cost_centres" v-html="costCentre.name" v-bind:value="costCentre.id"></option>
                            </select>
                            <select class="form-control" name="costCentre" required disabled v-else></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="expense_part-budget_line" class="col-sm-4 control-label">
                            Budgetpost:
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" name="budgetLine" v-model="expense_part.budgetLineId" required v-if="expense_part.committeeId > 0 && expense_part.costCentreId > 0">
                                <option value="0">- Välj -</option>
                                <option v-for="budgetLine in committees.filter(x => x.id == expense_part.committeeId)[0].cost_centres.filter(x => x.id == expense_part.costCentreId)[0].budget_lines" v-html="budgetLine.name" v-bind:value="budgetLine.id"></option>
                            </select>
                            <select class="form-control" name="budgetLine" required disabled v-else></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="expense_part-amount" class="col-sm-4 control-label">
                            Summa:
                        </label>
                        <div class="col-sm-8">
                            <input type="number" step="0.01" class="form-control" v-model="expense_part.amount" name="amount" required>
                        </div>
                    </div>
                </div>
        </form>
    </div>

    <script type="text/javascript">
        new Vue({
            el: '#form', 
            data: function () {
                return {
                    committees: [],
                    expense_part: {
                        committeeId: 0,
                        costCentreId: 0,
                        budgetLineId: 0,
                        amount: '{{ expense_part.amount }}'
                    }
                }
            },
            created: function () {
                fetch('https://budget.datasektionen.se/api/committees?verbose')
                    .then(res => res.json())
                    .then(res => {
                        this.committees = res
                        this.expense_part.committeeId = parseInt('{{ expense_part.committee_id }}')
                        this.expense_part.costCentreId = parseInt('{{ expense_part.cost_centre_id }}')
                        this.expense_part.budgetLineId = parseInt('{{ expense_part.budget_line_id }}')
                        console.log(this.expense_part)
                    })
            }
        })
    </script>
{% endblock %}