{% extends "expenses/main.html" %}
{% load widget_tweaks %}

{% block full_content %}
    <div>
        <p>Sätt in ditt kvitto i kvittopärmen i META på en <u><a href="/static/kvittomall.pdf">kvittomall</a></u>.</p>
        <p> Märk kvittomallen med id: <b>{{ expense.pk }}</b>. Du hittar det här id:t på kvittosidan igen om du glömmer bort det.</p>
        <a href="{% url "expenses-expense" expense.pk %}" class="button primary-action btn-color" style="color:#fff">Gå vidare</a>
    </div>
{% endblock %}