{% extends "expenses/main.html" %}
{% load humanize %}

{% block title %}Alla utlägg{% endblock %}

{% block full_content %}
    {% if expenses %}
        <table class="table table-hover">
            <tr>
                <th>Verifikat</th>
                <th>Beskrivning</th>
                <th>Ägare</th>
                <th>Nämnder</th>
                <th>Belopp</th>
            </tr>
            {% for expense in expenses %}
                <tr style="cursor: pointer" onclick="window.location = '{% url 'expenses-expense' expense.id %}'">
                    <td>{{ expense.verification|default:"Ej bokförd" }}</td>
                    <td>{{ expense.description|capfirst }}</td>
                    <td>{{ expense.owner }}</td>
                    <td>{% for committee in expense.committees %}
                        {{ committee.committee_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </td>
                    <td>{{ expense.total_amount|intcomma }} kr</td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        Det finns inga färdiga kvitton.
    {% endif %}
{% endblock %}