{% extends "expenses/main.html" %}

{% block full_content %}
    <!-- TODO: Do something about this-->
    <style>
        .thumbnail {
            padding: 0px;
        }

        .panel {
            position: relative;
        }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }
    </style>

    <h1>{{ expense.description|capfirst }}</h1>
    <div class="col-sm-6 col-lg-6">
        <ul class="list-group">
            <li class="list-group-item"><b>Köpt av:</b>
                <u><a href="{% url 'expenses-user' expense.owner.user.username %}">
                    {{ expense.owner.user.username }}
                </a></u>
            </li>
            <li class="list-group-item"><b>Inköpsdatum:</b> {{ expense.expense_date|date:"Y-m-d" }}</li>
            <li class="list-group-item"><b>Totalsumma:</b> {{ expense.total_amount }}</li>
            <li class="list-group-item"><b>Registrerat i cashflow:</b> {{ expense.created_date|date:"Y-m-d" }}</li>
            <li class="list-group-item"><b>Återbetalning:</b>
                <u><a href="{% url 'expenses-payment' expense.reimbursement.id %}" ma>
                    {{ expense.reimbursement.tag|default:"Ej återbetald" }}
                </a></u>
            </li>
            <li class="list-group-item"><b>Verifikationsnummer:</b> {{ expense.verification|default:"Ej bokförd" }}</li>
        </ul>
        <h2>Kvittodelar</h2>
        {% for expense_part in expense.expensepart_set.all %}
            <ul class="list-group">
                {% if user.username == expense.owner.user.username %}
                    <a class="btn btn-default" href="{% url 'expenses-expense_part-edit' expense_part.id %}">
                        <span class="glyphicon glyphicon-pencil"></span> Redigera kvittodel
                    </a>
                {% endif %}
                <li class="list-group-item"><b>Nämnd:</b> {{ expense_part.budget_line.cost_centre.committee.name }}</li>
                <li class="list-group-item"><b>Kostnadsställe:</b> {{ expense_part.budget_line.cost_centre.name }}</li>
                <li class="list-group-item"><b>Budgetpost:</b> {{ expense_part.budget_line.name }}</li>
                <li class="list-group-item"><b>Belopp:</b> {{ expense_part.amount }} kr.</li>
                {% if expense_part.attested_by %}
                    <li class="list-group-item"><b>Attesterat av:</b> {{ expense_part.attested_by.user.get_full_name }}
                    </li>
                    <li class="list-group-item"><b>Attesterat den:</b> {{ expense_part.attest_date }}</li>
                {% else %}
                    <li class="list-group-item"><b class="align-left">Kvittodel ej attesterad</b>
                        {% if expense_part.budget_line.cost_centre.committee.name|lower in user.profile.may_attest %}
                            <form method="POST" class="pull-right"
                                  action="{% url 'expenses-expense_part-attest' expense_part.id %}">
                                {% csrf_token %}
                                <button class="btn-primary btn-xs" type="submit">Attestera</button>
                            </form>
                        {% endif %}
                    </li>
                {% endif %}

            </ul>
        {% endfor %}
    </div>
    <div class="col-sm-6 col-lg-6">
        {% for file in expense.file_set.all %}
            {% if  file.is_image %}
                <img class="center-block" style="width: 70%;" src="{{ file.file.url }}">
            {% else %}
                <a href="{{ file.file.url }}">{{ file.file.name }}</a>

            {% endif %}

        {% endfor %}
    </div>
    <div class="col-sm-12 col-lg-8 col-lg-offset-2">
        <h2>Kommentarer</h2>



        {% for comment in expense.comment_set.all %}
            <div class="col-sm-12">
                <div class="hidden-xs col-sm-2">
                    <div class="thumbnail" style="border:none">
                        <img class="img-responsive user-photo"
                             src="https://zfinger.datasektionen.se/user/{{ comment.author.user.username }}/image">
                    </div><!-- /thumbnail -->
                </div>
                <div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding-bottom: 30px">
                            <div>
                                <b class="pull-left">{{ comment.author.user.get_full_name }}</b>
                                <span class="text-muted pull-right">{{ comment.date|date:"Y-m-d H:i" }}</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ comment.content }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <form method="POST" action="{% url 'expenses-expense-comment-new' expense.id %}">
            {% csrf_token %}
            <div class="col-sm-10 col-sm-offset-1">
                <label for="content">Ny kommentar</label> <br>
                <textarea name="content" rows="3" style="width: 100%"></textarea>
                <button class="pull-right" type="submit">Skicka</button>
            </div>
        </form>
    </div>
{% endblock %}