{% extends "main.html" %}

{% block methone-links %}
    {% if user.is_authenticated %}
        {str: "Hem", href: "/" },
        {str: "Nytt utlägg", href: "{% url 'expenses-expense-new' %}" },
        {% if user.profile.may_attest %}
            {str: "Attestera", href: "{% url 'expenses-action-attest' %}"},
        {% endif %}
        {% if user.profile.may_pay %}
            {str: "Betala ut", href: "{% url 'expenses-action-pay' %}"},
        {% endif %}
        {% if user.profile.may_account %}
            {str: "Bokför", href: "{% url 'expenses-action-accounting' %}"},
        {% endif %}
        {% if user.profile.may_attest or user.profile.may_pay or user.profile.may_account %}
            {str: "Kvitton", href: "{% url 'expenses-expense-overview' %}"},
            {str: "Användare", href: "{% url 'expenses-userlist' %}"},
        {% endif %}
    {% endif %}

{% endblock %}

{% block full_content %}
    <div class="alert alert-danger" style="border-radius:0px;">
        <b>OBS!</b><br>
        Du måste både sätta in kvittot i Metas kvittopärm och ladda upp det här. Du kan alltså inte längre slänga kvitton trots att det är uppladdat här.
    </div>

    <h1>Välkommen till Cashflow!</h1>

    <p>
        Är det första gången du använder systemet måste du börja med att 
        {% if user.is_authenticated %}
            <a style="text-decoration: underline !important;" href="{% url 'expenses-user-edit' user.username %}">registrera dina bankuppgifter</a>.
        {% else %}
            <a style="text-decoration: underline !important;" href="/login">logga in</a> och registrera dina uppgifter.
        {% endif %}
        Därefter är det fritt fram att registrera kvitton i systemet.
    </p>

    <p>I Cashflow laddar du upp kvitton för dina utlägg digitalt. Detta för att förenkla sektionens ekonomiska arbete. Tyvärr, på grund av hur lagstiftningen kring bokföring ser ut, behöver man fortfarande lämna in kvittot fysiskt i kvittopärmen som finns i Meta.</p>

    <p>När du laddat upp ett kvitto kan du följa kvittot från din användarsida och se när det är godkänt samt när det är utbetalat. På så sätt kan du enkelt jämföra dina bankhändelser med Cashflow och vara säker på att du fått tillbaka allt.</p>

    <h2>Hur använder jag Cashflow och vad händer med kvittot?</h2>

    <ol>
        <li><b>Registrering.</b> Du som köpt något åt sektionen registrerar ditt kvitto här i Cashflow</li>
        <li><b>Kvittopärmen.</b> Du sätter därefter in kvittot på en <u><a href="/static/kvittomall.pdf">sån här
            mall</a></u> i METAs kvittopärm
        </li>
        <li><b>Kvittokontroll.</b> Sektionens kassör kontrollerar att kvittot är i kvittopärmen</li>
        <li><b>Attestering.</b> Din nämndordförande, kassören eller ekonomiansvarig godkänner ditt kvitto.</li>
        <li><b>Utbetalning.</b> Din nämndordförande, kassören eller ekonomiansvarig betalar ut kvittot. Flera kvitton
            kan betalas ut samtidigt.
        </li>
        <li><b>Bokföring.</b> Kassören eller någon ekonomiansvarig bokför kvittot.</li>
    </ol>
{% endblock %}