{% extends "expenses/main.html" %}

{% block full_content %}

    <div class="col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
        <h2>Kvitton</h2>
        <table class="table table-hover">
            <tr>
                <th>Beskrivning</th>
                <th>Belopp</th>
            </tr>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.description|capfirst }}</td>
                    <td>{{ expense.total_amount }} kr.</td>
                </tr>
            {% endfor %}
        </table>

        <form class="form-horizontal" action="" method="POST">
            <input type="text"
                   value="
                           {% for expense in expenses %}{% if forloop.first %}[{% endif %}{% if forloop.last %}{{ expense.id }}]
                               {% else %}{{ expense.id }},{% endif %}{% endfor %}"
                   hidden>
            <label for="account">Bankkonto:</label>
            <select name="account">
                {% for account in accounts %}
                    <option value="{{ account.name }}"
                            {% if account == user.profile.default_account %}
                            selected
                            {% endif %}>{{ account.name }}</option>
                {% endfor %}

            </select>

        </form>
    </div>
{% endblock %}