{% extends "expenses/main.html" %}
{% load widget_tweaks %}

{% block full_content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
    <div class="col-sm-8 col-sm-offset-2" id="form">
        <h1>Nytt kvitto</h1>
        <p>
            Ladda endast upp ett kvitto i taget. När du laddar upp en faktura/onlinebetalning bör du även ladda upp ett
            kontoutdrag.
        </p>
        <form method="POST" action="" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="expense-description" class="col-sm-4 control-label">
                    Beskrivning:
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="expense-description" required />
                </div>
            </div>

            <div class="form-group">
                <label for="files" class="col-sm-4 control-label">
                    Bild/pdf av kvittot:
                </label>
                <div class="col-sm-8">
                    <input type="file" name="files" multiple required>
                </div>
                <br><br>
            </div>

            <div class="form-group">
                <label for="expense-date" class="col-sm-4 control-label">
                    Transaktionsdatum:
                </label>
                <div class="col-sm-8">
                    <input class="form-control" type="date" name="expense-date" required/>
                </div>
            </div>

            <h2>Kvittodelar</h2>
            <div id="expense_parts">
                <div v-for="(expense_part, i) in expense_parts" class="well" class="expense_part">
                    <div class="form-group">
                        <label for="expense_part-committee" class="col-sm-4 control-label">
                            Nämnd:
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" name="committee[]" v-model="expense_part.committeeId" required>
                                <option value="0">- Välj -</option>
                                <option v-for="committee in committees" v-html="committee.name" v-bind:value="committee.id"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="expense_part-cost_centre" class="col-sm-4 control-label">
                            Sekundärt resultatställe:
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" name="costCentre[]" v-model="expense_part.costCentreId" required v-if="expense_part.committeeId > 0">
                                <option value="0">- Välj -</option>
                                <option v-for="costCentre in committees.filter(x => x.id == expense_part.committeeId)[0].cost_centres" v-html="costCentre.name" v-bind:value="costCentre.id"></option>
                            </select>
                            <select class="form-control" name="costCentre[]" required disabled v-else></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="expense_part-budget_line" class="col-sm-4 control-label">
                            Budgetpost:
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" name="budgetLine[]" v-model="expense_part.budgetLineId" required v-if="expense_part.committeeId > 0 && expense_part.costCentreId > 0">
                                <option value="0">- Välj -</option>
                                <option v-for="budgetLine in committees.filter(x => x.id == expense_part.committeeId)[0].cost_centres.filter(x => x.id == expense_part.costCentreId)[0].budget_lines" v-html="budgetLine.name" v-bind:value="budgetLine.id"></option>
                            </select>
                            <select class="form-control" name="budgetLine[]" required disabled v-else></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="expense_part-amount" class="col-sm-4 control-label">
                            Summa:
                        </label>
                        <div class="col-sm-8">
                            <input type="number" step="0.01" class="form-control" model="expense_part.amount" name="amount[]" required>
                        </div>
                    </div>

                    <button type="button" class="small align-left" v-on:click="removePart()">Ta bort kvittodelen</button>
                    <button type="button" class="small align-right" v-on:click="addPart(i)">Lägg till en till kvittodel</button>
                </div>
            </div>
            <input type="submit" value="Lägg till kvitto" class="button primary-action theme-color btn-color">
        </form>
    </div>

    <script type="text/javascript">
        new Vue({
            el: '#form', 
            data: function () {
                return {
                    committees: [],
                    expense_parts: [
                        {
                            committeeId: 0,
                            costCentreId: 0,
                            budgetLineId: 0,
                            amount: 0
                        }
                    ]
                }
            },
            created: function () {
                fetch('https://budget.datasektionen.se/api/committees?verbose')
                    .then(res => res.json())
                    .then(res => {
                        this.committees = res
                    })
            },
            methods: {
                addPart: function () {
                    this.expense_parts.push({
                        committeeId: this.expense_parts[this.expense_parts.length - 1].committeeId,
                        costCentreId: 0,
                        budgetLineId: 0,
                        amount: 0
                    })
                },
                removePart: function (i) {
                    this.expense_parts.splice(i, 1)
                }
            }
        })
    </script>
{% endblock %}