{% extends "expenses/main.html" %}
{% load humanize %}

{% block title %}{{ showuser.get_full_name }}{% endblock %}

{% block full_content %}
    <div class="col-ms-6 col-lg-6">
        <h2>Ej attesterade kvitton </h2>
        {% if non_attested_expenses %}
            <table>
                <thead>
                    <tr>
                        <th>Skapat</th>
                        <th>Beskrivning</th>
                        <th>Summa</th>
                    </tr>
                </thead>
                {% for expense in non_attested_expenses %}
                    <tr>
                        <td><a href="{% url 'expenses-expense' expense.id %}">{{ expense.created_date|date:"Y-m-d" }}</a></td>
                        <td><a href="{% url 'expenses-expense' expense.id %}">{{ expense.description|capfirst }}</a></td>
                        <td>{{ expense.total_amount|intcomma }} kr</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            Du har inga icke-attesterade kvitton!
        {% endif %}

        <h2>Attesterade kvitton</h2>
        {% if attested_expenses %}
            <table>
                <thead>
                    <tr>
                        <th>Skapat</th>
                        <th>Beskrivning</th>
                        <th>Summa</th>
                    </tr>
                </thead>
                {% for expense in attested_expenses %}
                    <tr>
                        <td><a href="{% url 'expenses-expense' expense.id %}">{{ expense.created_date|date:"Y-m-d" }}</a></td>
                        <td><a href="{% url 'expenses-expense' expense.id %}">{{ expense.description|capfirst }}</a></td>
                        <td>{{ expense.total_amount }} kr</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            Det finns inga kvitton som väntar på att betalas ut.
        {% endif %}

        <h2>Utbetalda kvitton</h2>
        {% if reimbursements %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Utbet.datum</th>
                        <th>Tagg</th>
                        <th>Delar</th>
                    </tr>
                </thead>
                {% for reimbursement in reimbursements reversed %}
                    <tr>
                        <td><a href="{% url 'expenses-payment' reimbursement.id %}">{{ reimbursement.date|date:"Y-m-d" }}</a></td>
                        <td><a href="{% url 'expenses-payment' reimbursement.id %}">{{ reimbursement.tag }}</a></td>
                        <td>
                            <table>
                                {% for expense in reimbursement.expense_set.all %}
                                    <tr>
                                        <td>{{ expense.created_date|date:"Y-m-d" }}</td>
                                        <td>{{ expense.description }}</td>
                                        <td>{{ expense.total_amount }} kr</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th colspan="2">Summa</th>
                                    <td>{{ reimbursement.amount|intcomma }} kr</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            Det finns inga tidigare utbetalda kvitton.
        {% endif %}
    </div>

    <div class="col-ms-6 col-lg-6">
        <h2>Din information</h2>
        {% if showuser.username == user.username %}
            <a class="btn theme-color pull-right" style="color:#fff" href="edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        {% endif %}
        <div class="crop" style="background-image: url('https://zfinger.datasektionen.se/user/{{ showuser.username }}/image')">
        </div>
        <br />
        <table>
            <tr>
                <th>KTH-användarnamn</th>
                <td>{{ showuser.username }}</td>
            </tr>
            <tr>
                <th>Bank</th>
                <td>{{ showuser.profile.bank_name|default:"Saknas" }}</td>
            </tr>
            <tr>
                <th>Clearinnummer</th>
                <td>{{ showuser.profile.sorting_number|default:"Saknas" }}</td>
            </tr>
            <tr>
                <th>Kontonummer</th>
                <td>{{ showuser.profile.bank_account|default:"Saknas" }}</td>
            </tr>
            {% if showuser.profile.may_pay %}
            <tr>
                <th>Standardkonto för utbetalningar</th>
                <td>{{ showuser.profile.default_account }}</td>
            </tr>
            {% endif %}
        </table>
        {% if showuser.username == user.username %}
            <br />
            <a href="/logout" class="button theme-color btn-color" style="color:#fff;float:right;">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logga ut
            </a>
        {% endif %}
    </div>

{% endblock %}