{% extends "expenses/main.html" %}

{% block title %}Alla användare{% endblock %}

{% block full_content %}
    {% if users %}
        <table>
            <thead>
                <tr>
                    <th>Kth-id</th>
                    <th>Namn</th>
                </tr>
            </thead>
            {% for u in users %}
                <tr>
                    <td><a href="{% url 'expenses-user' u.user.username %}">{{ u.user.username }}</a></td>
                    <td><a href="{% url 'expenses-user' u.user.username %}">{{ u }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Det finns inga användare :sad:
    {% endif %}
{% endblock %}