{% extends "expenses/main.html" %}

{% block full_content %}
    <h2>Användare</h2>
    {% if users %}
        <table class="table table-hover">
            <tr>
                <th>Kth-id</th>
                <th>Namn</th>
            </tr>
            {% for u in users %}
                <tr style="cursor: pointer" onclick="window.location = '{% url 'expenses-user' u.user.username %}'">
                    <td>{{ u.user.username }}</td>
                    <td>{{ u }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Det finns inga användare :sad:
    {% endif %}
{% endblock %}