* {
    transition: all .1s;
}
#pick {
    background: #278032;
    width: 100%;
    color: #fff;
    padding: 30px 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#pick ul.alternatives {
    list-style-type: none;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
}
#pick ul.alternatives li {
    width: 50%;
    float: left;
}
#pick ul.alternatives li a {
    width: 100%;
    display: block;
    color: #fff;
    padding: 32px;
    font-size: 2em;
    text-align: center;
}
#pick ul.alternatives li a .icon {
    display: block;
}
#pick ul.alternatives li a .icon i {
    background: rgb(33, 108, 42);
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50px;
}
#pick ul.alternatives li a:hover .icon i {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#pick ul.alternatives li a .description {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 300;
    margin-top: 20px;
    display: block;
}
@media screen and (max-width: 500px) {
    #pick ul.alternatives {
        padding: 0 25px;
    }
    #pick ul.alternatives li a .icon {
        display: inline-block;
        font-size: 1.5em;
    }
    #pick ul.alternatives li a .description {
        display: inline-block;
    }
    #pick ul.alternatives li a {
        font-size: 1.5em;
        text-align: center;
        padding: 16px;
    }
}


#content {
    background: none;
    color: #000;
}


ul.info {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.info li {
    text-transform: uppercase;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
ul.info li a {
    font-weight: normal;
}





.tooltip {
  display: block !important;
  z-index: 10000;
}
.tooltip .tooltip-inner {
  background: #222;
  color: #ddd;
  border-radius: 0px; 
  padding: 5px 10px 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #222;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}










.form {
    background: #fcfcfc;
    padding: 10px;
    margin: 10px 0;
}
.form-entry {
    margin: 5px 0;
    clear: both;
}
.form-entry .description {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}
.form-entry .description .desc {
    display: block;
    font-weight: 300;
    font-size: 0.7em;
    margin-top: -7px;
}
.checkbox {
    width: 500px;
    max-width: 100%;
    height: 45px;
    margin: -10px 0;
    position: relative;
    margin: 10px 0 -10px;
}
table .checkbox {
    width: 30px;
    margin: 3px 0 0;
    height: 20px;
}
.checkbox label {
    position: absolute;
    left: 12px;
    top: 0;
}
.checkbox label:before {
    content: '';
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 20px;
    top: -2px;
    left: -12px;
    float: left;
    background: #fff;
    border:1px solid #ddd;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
}
.checkbox label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 13px;
    height: 8px;
    background: transparent;
    top: 4px;
    left: -6px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transition: .1s;
    transform: rotate(-45deg);
}
.checkbox label:hover::after {
    opacity: 0.5;
}
.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.checkbox input[type=checkbox]:checked + label:before {
    background: #278032;
}
.checkbox input[type=checkbox]:disabled + label:before {
    background: #eee;
}
.checkbox input[type=checkbox]:checked:disabled + label:before {
    background: #666;
}
.checkbox input[type=checkbox]:checked + label {
    color: #278032;
}
input[type=checkbox] {
    visibility: hidden;
}



span.notification {
    border-radius: 10px;
    height: 20px;
    min-width: 20px;
    background: #278032;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

ul.search-result {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.search-result li {
    display: block;
    margin: 10px 0;
}
ul.search-result li a {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 10px;
    border-radius: 2px;
}
ul.search-result li a:hover {
    background: #eee;
}



.radio {
    width: 500px;
    max-width: 100%;
    height: 30px;
    margin: -10px 0;
    position: relative;
    margin: 10px 0 -10px;
}
table .radio {
    width: 30px;
    margin: 3px 0 0;
    height: 20px;
}
.radio label {
    position: absolute;
    left: 12px;
    top: 0;
}
.radio label:before {
    content: '';
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    top: -2px;
    left: -12px;
    float: left;
    background: #fff;
    border:1px solid #ddd;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
}
.radio label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 6px;
    background: #fff;
    top: 5px;
    left: -5px;
    border-top: none;
    border-right: none;
    transition: .1s;
}
.radio label:hover::after {
    opacity: 0.5;
}
.radio input[type=radio]:checked + label:after {
    opacity: 1;
}
.radio input[type=radio]:checked + label:before {
    background: #278032;
}
.radio input[type=radio]:checked + label {
    color: #278032;
}
input[type=radio] {
    visibility: hidden;
}
input[type="text"], textarea, input[type="number"], input[type="datetime-local"], input[type="date"] {
    width: 300px;
    max-width: 100%;
    border-radius: 2px !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08) !important;
}
input.small {
    min-width: 0px;
    width: 100px !important;
}
input.kth {
    min-width: 0px;
    width: 300px !important;
    margin-right: -80px;
    padding-right: 70px !important;
}
span.kth {
    width: 80px;
    padding-right: 10px;
    text-align: right;
    display: inline-block;
    margin-top: -2px;
    margin-bottom: 2px;
}
input[type="text"]:disabled {
    background: #dfdfdf;
}
input[type="file"] {
    display: none;
}
.file {
    margin-top: -12px;
    cursor: pointer;
}
.file label {
    display: table;
    background: #e83d84;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 18px 6px;
    color: #fff !important;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    float: left;
    margin: 0;
}
.file span {
    margin: 9px 0px;
    display: inline-block;
}
.file .icon {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}
input[type="submit"].inactive {
    opacity: 0.2;
}
input[type="text"], input[type="number"], textarea, input[type="datetime-local"], input[type="date"], input[type="time"] {
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #f7f7f7;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
    color: #696969;
    background: #fff;
    width: 100%;
}
input[type="date"], input[type="time"] {
    width: 50%;
    float: left;
}
.select {
    padding: 10px 3px;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #f7f7f7;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08) !important;
    color: #696969;
    float: left;
    background: url(/static/images/dropdown.png) no-repeat right 17px, #fff;
}
.select select {
    display: block;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding: 0 20px 0 7px;
}


@media screen and (min-width: 700px) {
    .form-entry .description {
        width: 40%;
        text-align: right;
        float: left;
        padding: 0 20px 0 0;
    }
    .form-entry .input {
        width: 60%;
        text-align: left;
        float: right;
    }
    .form-entry {
        padding: 5px 0;
    }
}



table {
    width: 100%;
}
td.right, th.right {
    text-align: right !important;
}
td.no-wrap, th.no-wrap {
    white-space: nowrap;
}
th {
    padding: 10px;
}


ul.comments {
    max-width: 700px;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
ul.comments li {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}
ul.comments li .info {
    width: 50px;
    float: left;
    font-size: 0.9em;
    text-align: center;
}
ul.comments li.own .info {
    float: right;
}
ul.comments li .info .crop {
    display: block;
    margin: 0 auto;
    height: 45px;
    width: 45px;
}
ul.comments li .comment {
    margin-left: 60px;
    background: #ddd;
    color: #000;
    padding: 10px 20px;
    border-radius: 23px;
    min-height: 30px;
    max-width: 500px;
}
ul.comments li.own .comment {
    background: #278032;
    color:#fff;
    margin-right: 60px;
    margin-left: auto;
}
ul.comments li.new .comment {
    padding: 0;
    background: none;
    border-radius: 0;
    margin-left: 0;
}
ul.comments li .comment .pane {
    font-size: 0.8em;
}
ul.comments li.new input[type="submit"] {
    margin: 10px;
    float: right;
    display: block;
}
ul.comments li .update {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
ul.comments li .update .crop {
    display: inline-block;
}
ul.comments .crop {
    width: 50px;
    height: 50px;
}
ul.comments .alternatives ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.comments .alternatives ul li {
    float: left;
    display: inline-block;
    margin: 0 5px 5px 0;
    max-width: 100%;
}
ul.comments .alternatives ul li a {
    display: inline-block;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #278032;
    border-radius: 100px;
    padding: 5px 10px;
    color: #278032 !important;
    max-width: 100%;
    overflow: hidden;
}
ul.comments .alternatives ul li a:hover {
    background: #278032;
    color: #fff !important;
}
.description {
    margin-bottom: 20px;
}
.description.thin {
    margin-top: 0;
    padding-top: 0;
}
.description.thin .desc {
    margin-top: 2px;
}
ul.comments textarea {
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1) !important;
    color: #696969;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    border: none !important;
}
ul.comments button {
    margin: 0px 5px 5px;
}

.expense-part {
    background: #eee;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.divide {
    margin: 30px;
    clear: both;
    height: 1px;
}
ol.center {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.crop {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-size: cover;
    background-position: middle;
    margin: 0 auto;
}
@media screen and (max-width: 700px) {
    .crop {
        height: 40px;
        width: 40px;
    }
    .col-md-3 {
        float: right;
        width: 100%;
    }
    .col-md-9 {
        float: left;
        width: 100%;
    }
}
.title-row th {
    padding: 10px;
    background: #278032;
    color: #fff;
}
.footer-row td {
    font-weight: bold;
    border-top: 1px solid #888;
}
.space-row td {
    background: transparent;
    height: 20px;
}

.cover {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover .dialog {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#stats header .inner {
    margin: 0 auto;
    color: #fff;
    max-width: 1220px;
    text-align: center;
    padding: 30px 0;
    font-weight: 300 !important;
}
#stats header .inner span.label {
    font-weight: 300 !important;
}
#stats header .inner h2 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 300 !important;
}
#content {
    min-height: 0;
}
html, body {
  height: 100%;
  margin: 0;
}
#application {
    margin-bottom: -350px;
    min-height: 100%;
}

footer {
    color: #fff;
    font-weight: 300;
    height: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.push-footer {
    height: 350px;
}
footer a {
    color: #fff;
    font-weight: bold;
}
footer a:hover {
    color: #ccc;
}
footer .upper {
    height: 300px;
    background: #216C2A;
    overflow: hidden;
}
footer .upper .col {
    width: 25%;
    float: left;
    padding: 20px 20px;
}
footer .upper ul {
    list-style-type: none;
    padding: 0;
    margin: -5px 0 10px;
}
footer .upper ul li a {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 0;
}
footer .wrapper {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
footer .bottom {
    height: 50px;
    text-align: center;
    background: #15451b;
}
footer .bottom p {
    padding: 13px 0 0;
}

@media screen and (max-width: 1200px) {
    #application {
        margin-bottom: -450px;
    }
    .push-footer {
        height: 450px;
    }
    footer .upper {
        height: 400px;
    }
    footer .bottom {
        height: 50px;
    }
}

@media screen and (max-width: 700px) {
    #application {
        margin-bottom: 0;
    }
    .push-footer {
        height: 0;
    }
    footer .upper {
        height: auto;
    }
    footer .upper .col {
        width: 100%;
        float: none;
        display: block;
        padding: 10px 20px 0;
    }
    footer .upper .col:last-child {
        padding-bottom: 20px;
    }
    footer .bottom {
        height: auto;
    }
    footer .bottom p {
        padding: 13px 20px;
        margin-bottom: -13px;
    }
}