#footer {
    background: #333333;
    margin: 0px;
    padding-bottom: 30px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
}

#footer #creators {
    text-align: center;
}

#footer #creators p {
    color: #fff;
}

img {
    image-orientation: from-image;
}

.crop {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-size: cover;
	background-position: middle;
	margin: 0 auto;
}
table {
    width: 100%;
}
table th {
    padding: 0 10px;
}

input[type="text"] {
    border: 1px solid #eee;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 0px;
}

button {
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 0px;
}




ul.comments {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.comments li {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}
ul.comments li .info {
    width: 100px;
    float: left;
    font-size: 0.9em;
    text-align: center;
}
ul.comments li .info .crop {
    display: block;
    margin: 10px auto 0;
}
ul.comments li .info .info {
    display: block;
}
ul.comments li .date {
    display: block;
    font-size: 0.7em;
}
ul.comments li .comment {
    margin-left: 110px;
    background: #f4f4f4;
    color: #000 !important;
    padding: 10px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    min-height: 30px;
}
ul.comments li.new .comment {
    padding: 0;
}
ul.comments li .comment .pane {
    font-size: 0.8em;
}
ul.comments li .comment:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -40px;
    margin-top: -5px;
    border: 10px solid;
    border-color: transparent #f4f4f4 #f4f4f4 transparent;
}
ul.comments li.new .comment:before {
    margin-left: -20px;
    margin-top: 5px;
}
ul.comments li.new input[type="submit"] {
    margin: 10px;
    float: right;
    display: block;
}
ul.comments li .update {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
ul.comments li .update .crop {
    display: inline-block;
}
ul.comments .crop {
    width: 50px;
    height: 50px;
}
@media screen and (max-width:770px) {
    ul.comments li .info {
        width: 100%;
        display: block;
        float: none;
    }
    ul.comments li .comment {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        display: block;
        float: none;
    }
    ul.comments li .comment:before {
        margin-left: 0px;
        margin-top: -30px;
        border-color: transparent #f4f4f4 #f4f4f4 transparent;
    }
    ul.comments li.new .comment:before {
        margin-left: 20px;
        margin-top: -20px;
    }
    ul.comments .crop {
        width: 30px;
        height: 30px;
    }
}
.description {
    margin-bottom: 20px;
}
ul.comments textarea {
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
    color: #696969;
    background: #fff;
    width: 100%;
    border-radius: 5px;
}
ul.comments button {
    margin: 0px 5px 5px;
}