{% extends './main.html' %}

{% block app %}
<header>
    <div class="header-inner">
        <div class="row">
            <div class="header-left col-md-2">
            </div>
            <div class="col-md-8">
                <h2>404: Sidan du letar efter finns inte</h2>
            </div>
            <div class="header-right col-md-2">
                
            </div>
        </div>
        <div class="clear"></div>
    </div>
</header>
<div id="content">
    {% if exception %}
        <h1>{{ exception }}</h1>
    {% else %}
        <h1>Sidan finns ej</h1>
    {% endif %}
    <p>Kanske stavade du fel i adressen, eller så är sidan borta. Om du tror att detta är fel, kontakta <a href="https://ior.slack.com" target="_blank" rel="noopener noreferrer">IOR</a>, <a href="mailto:d-sys@d.kth.se" target="_blank" rel="noopener noreferrer">systemansvarig</a> eller skapa en issue på <a href="https://github.com/datasektionen/cashflow/issues/new" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
    <p><a href="/">Hem</a></p>
</div>
{% endblock %}
