{% extends './main.html' %}

{% block app %}
<header>
    <div class="header-inner">
        <div class="row">
            <div class="header-left col-md-2">
            </div>
            <div class="col-md-8">
                <h2>404: Sidan du letar efter finns inte</h2>
            </div>
            <div class="header-right col-md-2">
                
            </div>
        </div>
        <div class="clear"></div>
    </div>
</header>
<div id="content">
    <p>{{ exception }}</p>
</div>
{% endblock %}
