{% load settings %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cashflow - Datasektionens ekonomisystem</title>
    <link rel="stylesheet" href="//aurora.datasektionen.se" type="text/css" />
    <link rel="stylesheet" href="/static/style.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/logos/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/logos/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/logos/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/logos/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/logos/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/logos/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/logos/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/logos/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/logos/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/logos/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/logos/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/logos/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/logos/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-TileColor" content="#216C2A">
    <meta name="msapplication-TileImage" content="/static/images/logos/ms-icon-144x144.png">
    <meta name="theme-color" content="#216C2A">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://unpkg.com/popper.js"></script>
    <script src="https://unpkg.com/v-tooltip"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96183461-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{% settings_value "GOOGLE_ANALYTICS_KEY" %}');
    </script>
</head>
<body>
<div id="methone-container-replace"></div>
<div id="application" class="money-green">
    {% block app %}{% endblock %}
    <div class="push-footer"></div>
</div>
<footer>
    <div class="upper">
        <div class="wrapper">
            <div class="col">
                <h3>Om</h3>
                <p>Cashflow är ett faktura- och utläggshanteringssystem på <a href="https://datasektionen.se">Konglig Datasektionen</a>.</p>
            </div>
            <div class="col">
                <h3>Snabblänkar</h3>
                <ul>
                    <li><a href="{% url 'expenses-index' %}">Start</a></li>
                    <li><a href="{% url 'expenses-new' %}">Nytt utlägg</a></li>
                    <li><a href="{% url 'invoices-new' %}">Ny faktura</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Hjälp</h3>
                <p>Om du behöver hjälp med att använda Cashflow kan du kontakta din nämndansvarig eller sektionens kassör.</p>
            </div>
            <div class="col">
                <h3>Något som inte funkar?</h3>
                <p><a href="https://github.com/datasektionen/cashflow/issues/new">Skapa ett issue på Github</a>, så brukar det lösas så snabbt som möjligt. Vill du vara med och utveckla sektionens system kan du komma förbi någon Hackerkväll som anordnas vissa torsdagar av <a href="https://www.facebook.com/informationsorganet/">Informationsorganet</a>. Säg hej vetja!</p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p>Cashflow är byggt av Alexander Viklund och Jonas Dahl och tillhör <a href="https://datasektionen.se">Konglig Datasektionen</a>.</p>
    </div>
</footer>
<script type="text/javascript">
    window.methone_conf = {
        system_name: "Cashflow",
        color_scheme: "money_green",
        {% if user.is_authenticated %}
            login_text: "{{ user.get_full_name }}",
            login_href: "{% url 'user-show' user.username %}",
        {% else %}
            login_text: "Logga in",
            login_href: "/login/",
        {% endif %}
        links: [
            {% block methone-links %}
                {str: "Hem", href: "/" },
                {% if user.is_authenticated %}
                    {% if user.profile.is_admin %}
                    {str: "Administrera", href: "/admin" },
                    {% endif %}
                    {str: "Statistik", href: "/stats"},
                {% endif %}
            {% endblock %}
        ]
    }
</script>
<script src="//methone.datasektionen.se/bar.js"></script>
</body>
</html>
