{% extends "main.html" %}
{% load humanize %}

{% block title %}Välkommen till Cashflow!{% endblock %}

{% block app %}
<div id="stats">
    <header>
        <div class="inner">
            <span class="label">Utbetalt i år</span>
            <h2>{{ year }} kr</h2>
        </div>
    </header>
    <div id="content">
        <h1>Mest Cashflowat</h1>
        <ol class="">
        {% for user in highscore %}
        <li><a href="/user/{{ user.user.username }}">{{ user.user.get_full_name }}</a> ({{ user.total_amount|intcomma }} kr)</li>
        {% endfor %}
        </ol>
    </div>
</div>

<script type="text/javascript">
    new Vue({
        el: '#stats', 
        data: function () {
            return {

            }
        },
        created() {

        }
    })
</script>
{% endblock %}