{% extends "main.html" %}
{% load humanize %}

{% block title %}Välkommen till Cashflow!{% endblock %}

{% block app %}

<style>
 input:disabled {
     color: #d3d3d3;
 }
</style>
<div id="stats" style="text-align: center">
  <header>
    <div class="inner">
      <span class="label">Utbetalt i år</span>
      <h2>{{ year|intcomma }} kr</h2>
    </div>
  </header>
  <div id="content">
    <h2 v-if="selected == 'Total summa'">Mest Cashflowat</h2>
    <h2 v-if="selected == 'Antal cashflows'">Flest Cashflows</h2>
    <div style="padding: 0 0 25px;">
      <button style="width: 170px;" v-text="selected" v-on:click="click" class="btn-color theme-color"></button>
    </div>
    <div style="display: flex; justify-content: center;">
      <table style="width: 600px;">
        <thead>
          <tr>
            <th></th>
            <th>Namn</th>
            <th>Total summa</th>
            <th>Antal cashflows</th>
          </tr>
        </thead>
        <tbody v-if="selected == 'Total summa'">
          {% for user in highscore_amount %}
          <tr>
            <td style="width: 5%;">{{ forloop.counter }}</td>
            <td style="width: 45%;"><a href="{% url 'user-show' user.user.username %}">{{ user.user.get_full_name }}</a></td>
            <td style="width: 25%;">{{ user.total_amount|intcomma }} kr</td>
            <td style="width: 25%;">{{ user.receipts }} st</td>
          </tr>
          {% endfor %}
        </tbody>
        <tbody v-if="selected == 'Antal cashflows'">
          {% for user in highscore_receipts %}
          <tr>
            <td style="width: 5%;">{{ forloop.counter }}</td>
            <td style="width: 45%;"><a href="{% url 'user-show' user.user.username %}">{{ user.user.get_full_name }}</a></td>
            <td style="width: 25%;">{{ user.total_amount|intcomma }} kr</td>
            <td style="width: 25%;">{{ user.receipts }} st</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div style="padding-top: 15px;">OBS. Räknar bara med utlägg mindre än 10 000 kr</div>

    <div class="divide"></div>


    <h2>Vad har spenderats på min budgetpost?</h2>


    <table class="card">
      <thead>
        <tr>
          <th>År</th>
          <th> Resultatställe </th>
          <th> Sek. resultatställe </th>
          <th> Budgetpost </th>
          <th>Summa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- First Column for the Year Dropdown -->
          <td>
            <!-- Year Dropdown -->
            <div class="select" style="width: 100%;">
              <select 
                v-model="selectedYear" 
                @change="yearHandler()"
                style="width: 100%;" 
                :disabled="expense_parts.length > 1"
              >
                <option value="">- Välj år -</option>
                <option v-text="year" v-for="year in years" :key="year" :value="year"> 
                </option>
              </select>
            </div>
          </td>
  
          <!-- Second Column for the Cost Centre Dropdown -->
          <td>
            <!-- Cost Centre Dropdown (only visible if a year is selected) -->
            <div class="select" style="width: 100%;">
              <select 
                name="costCentres[]" 
                v-model="expense_parts[0].costCentre" 
                required 
                @change="costCentreHandler()"
                style="width: 100%;"
              >
                <option value="">- Välj -</option>
                <option
                  v-text="costCentre"
                  v-for="(costCentre, index) in costCentres"
                  :key="index"
                  :value="costCentre"
                >
                </option>
              </select>
            </div>
          </td>
          <td >
            <!-- Secondary Cost Centre Dropdown (only visible if a year and Cost centre is selected) -->
            <div class="select" style="width: 100%;">
              <select 
                name="secondaryCostCentres[]" 
                v-model="expense_parts[0].secondaryCostCentre" 
                required 
                style="width: 100%;"
                @change="secondaryCostCentreHandler()"

              >
                <option value="">- Välj -</option>
                <option
                  v-text="secondaryCostCentre"
                  v-for="(secondaryCostCentre, index) in secondaryCostCentres"
                  :key="index"
                  :value="secondaryCostCentre"
                >
                </option>
              </select>
            </div>
          </td>
          <td >
            <!-- budget lines  Dropdown (only visible if a year and Cost centre and secondary Cost centre is selected) -->
            <div class="select" style="width: 100%;">
              <select 
                name="budgetLines[]" 
                v-model="expense_parts[0].budgetLine" 
                required 
                style="width: 100%;"
                @change="budgetLineHandler()"
              >
                <option value="">- Välj -</option>
                <option
                  v-text="budgetLine"
                  v-for="(budgetLine, index) in budgetLines"
                  :key="index"
                  :value="budgetLine"
                >
                </option>
              </select>
            </div>
          </td>
          <td>
            <span v-text="formatMoney(totalSum)" v-if="totalSum !== null">                
            </span>
            <span v-else>-</span>
          </td>
        </tr>
      </tbody>
    </table>
          <!-- Placeholder for Additional Columns -->
          <td></td>
          <td></td>
          <td></td>
      </tr>
      
    </table>

    <h2>Antal inköp per månad</h2>
    <div>
      <input type="number" placeholder="År" step="1" min="2017" max="2099" v-model="monthlyYear" style="max-width: 6em" />
      <button type="button" @click="updateMonthlyChart" style="background-color: #216C2A">
        <i class="fa fa-arrow-right" style="color: white"></i>
      </button>
    </div>
      <div style="margin-top: 1em">
        {% verbatim %}
        <strong>Totalt i {{ curMonthlyYear }}:</strong> {{ curMonthlyCount }} utlägg ({{ formatMoney(curMonthlySum) }})
        {% endverbatim %}
      </div>
    <canvas id="monthly" width="300" height="100"></canvas>
  </div>
</div>



<script type="text/javascript">
 let krFormatter =  new Intl.NumberFormat("sv-SE", { style: "currency", currency: "SEK" });
 new Vue({
     el: '#content',
     data: function() {
         return {
             years: [],       
             selected: "Total summa",
             selectedYear: '' ,
             showCostCentreDropdown: false,   
             showSecondaryCostCentreDropdown: false,   
             showBudgetLineDropdown: false ,
             selectedCommittee: [] ,
             costCentres: [] ,
             secondaryCostCentres: [] ,
             budgetLines: [] ,
             expense_parts: [ {
                 costCentre: '',
                 secondaryCostCentre: '',
                 budgetLine: '',
                 amount: 0,
             }],
             totalSum: null, 
             monthlyYear: {{ month_year }},
             curMonthlyYear: {{ month_year }}, // currently displayed value; not bound to input
             curMonthlyCount: {{ month_count_total }},
             curMonthlySum: {{ month_sum_total }},
         }
     },
     created: function () {
        this.years = Array.from({length: 2099 - 2017 + 1}, (v, i) => 2017 + i);
      },

      methods: {
         click(e) {
             if (this.selected === "Total summa") this.selected = "Antal cashflows"
             else this.selected = "Total summa"
         },
         updateMonthlyChart() {
             fetch(`/stats/monthly/${this.monthlyYear}/`)
                 .then(res => res.json())
                 .then(res => {
                     if (window.monthlyChart) {
                         window.monthlyChart.data.datasets[0].data = res.month_count;
                         window.monthlyChart.data.datasets[1].data = res.month_sum;
                         window.monthlyChart.update();
                         this.curMonthlyYear = res.year;
                         this.curMonthlyCount = res.month_count.reduce((a, b) => a + b);
                         this.curMonthlySum = res.month_sum.reduce((a, b) => a + b);
                     }
                 });
         },
        
        yearHandler(){
          this.costCentres = [];
          this.expense_parts[0].costCentre = '';
          const params = new URLSearchParams ({
        year: this.selectedYear,
      });
        fetch(`/stats/cost_centres/?${params.toString()}`,{
        method: 'GET',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json',
        },
      })
          .then(res => res.json())
          .then(res => {
            res.cost_centres.sort((a, b) => a.localeCompare(b)); // sort in alphabetic order
            this.costCentres = res.cost_centres;
          })
          .catch(error => {
            console.error('Error fetching cost centres:', error);
          });
        },

        costCentreHandler(){
            this.fetchSecondaryCostCentres();
            this.budgetLines = [];
            this.expense_parts[0].budgetLine = '';
            this.fetchExpenseSummary();
        },
        secondaryCostCentreHandler(){
            this.fetchBudgetLines();
            this.fetchExpenseSummary();
        },
        budgetLineHandler(){
            this.fetchExpenseSummary();
        },
        fetchSecondaryCostCentres () {
          this.secondaryCostCentres = [];
          this.expense_parts[0].secondaryCostCentre = '';
          const params = new URLSearchParams ({
        year: this.selectedYear,
        cost_centre: this.expense_parts[0].costCentre,
      });
        fetch(`/stats/sec_cost_centres/?${params.toString()}`,{
        method: 'GET',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json',
        },
      })
          .then(res => res.json())
          .then(res => {
            res.sec_cost_centres.sort((a, b) => a.localeCompare(b)); // sort in alphabetic order
            this.secondaryCostCentres = res.sec_cost_centres;
          })
          .catch(error => {
            console.error('Error fetching cost centres:', error);
          });
      },
      fetchBudgetLines () {
        this.budgetLines = [];
        this.expense_parts[0].budgetLine = '';
        const params = new URLSearchParams ({
        year: this.selectedYear,
        cost_centre: this.expense_parts[0].costCentre,
        secondary_cost_centre: this.expense_parts[0].secondaryCostCentre,
      });
        fetch(`/stats/budget_lines/?${params.toString()}`,{
        method: 'GET',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json',
        },
      })
          .then(res => res.json())
          .then(res => {
            res.budget_lines.sort((a, b) => a.localeCompare(b)); // sort in alphabetic order
            this.budgetLines = res.budget_lines;
          })
          .catch(error => {
            console.error('Error fetching cost centres:', error);
          });
      },
         fetchExpenseSummary: function() {
      // Make sure we have both year and cost centre selected
      if (!this.selectedYear || !this.expense_parts[0].costCentre) return;
      const params = new URLSearchParams ({
        year: this.selectedYear,
        cost_centre: this.expense_parts[0].costCentre,
        secondary_cost_centre: this.expense_parts[0].secondaryCostCentre,
        budget_line: this.expense_parts[0].budgetLine
      });

      fetch(`/stats/summary/?${params.toString()}`, {
        method: 'GET',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(res => res.json())
        .then(res => {
          this.totalSum = res.amount;
        })
        .catch(error => {
          console.error('Error fetching expense summary:', error);
        });
    },
    formatMoney(val) {
      return krFormatter.format(val);
    },
  }
})
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script type="text/javascript">
 window.chartColors = {
     red: 'rgb(255, 99, 132)',
     orange: 'rgb(255, 159, 64)',
     yellow: 'rgb(255, 205, 86)',
     green: 'rgb(75, 192, 192)',
     blue: 'rgb(54, 162, 235)',
     purple: 'rgb(153, 102, 255)',
     grey: 'rgb(201, 203, 207)'
};

var config = {
    type: 'line',
    data: {
        labels: ["Januari", "Februari", "Mars", "April", "Maj", "Juni", "Juli", "Augusti", "September", "Oktober", "November", "December"],
        datasets: [{
            label: "Antal utlägg",
            backgroundColor: '#278032',
            borderColor: '#278032',
            data: {{ month_count }},
            yAxisID: "A",
            fill: false,
        }, {
            label: "Summa utlägg",
            fill: false,
            backgroundColor: '#222',
            borderColor: '#222',
            data: {{ month_sum }},
            yAxisID: "B",
        }]
    },
    options: {
        responsive: true,
        title:{
            display:true,
            text:'Inköp månadsvis'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Månad'
                }
            }],
            yAxes: [{
                id: 'A',
                type: 'linear',
                position: 'left',
              }, {
                id: 'B',
                  type: 'linear',
                  position: 'right'
            }]
        }
    }
};

var ctx = document.getElementById("monthly").getContext("2d");
window.monthlyChart = new Chart(ctx, config);
</script>
{% endblock %}

