{% extends "./main.html" %}
{% load humanize %}

{% block title %}{{ showuser.get_full_name }}{% endblock %}

{% block content %}
    <p>Nedan visas den information som används för att återbetala utlägg till {% if showuser.username == user.username %}dig{% else %}{{ showuser.get_full_name }}{% endif %}. Notera dock att man kan spara favoriter i banken, så om denna information ändras är det bra att också meddela betalningsansvarig för berörd nämnd.</p>
    <table>
        <tr>
            <th>KTH-användarnamn</th>
            <td>{{ showuser.username }}</td>
        </tr>
        <tr>
            <th>Bank</th>
            <td>{{ showuser.profile.bank_name|default:"Saknas" }}</td>
        </tr>
        <tr>
            <th>Clearingnummer</th>
            <td>{{ showuser.profile.sorting_number|default:"Saknas" }}</td>
        </tr>
        <tr>
            <th>Kontonummer</th>
            <td>{{ showuser.profile.bank_account|default:"Saknas" }}</td>
        </tr>
        <tr>
            <th>Totalt Cashflowat</th>
            {% if total.amount__sum == None %}
            <td>0 kr</td>
            {% else %}
            <td>{{ total.amount__sum|intcomma }} kr</td>
            {% endif %}
        </tr>
        {% if showuser.profile.may_pay %}
        <tr>
            <th>Standardkonto för utbetalningar</th>
            <td>{{ showuser.profile.default_account }}</td>
        </tr>
        {% endif %}
    </table>
{% endblock %}