{% extends "./main.html" %}
{% load humanize %}

{% block title %}{{ showuser.get_full_name }}{% endblock %}
{% block content %}
<div id="app">
    <h2>Ej attesterade kvitton </h2>
    <label for="flagged" style="padding-right: 0.5em;">Visa endast flaggade</label><input v-model="flagged" type="checkbox" id="flagged" /><br />
        <table v-if="non_attested_expenses.length > 0">
            <thead>
                <tr>
                    <th class="left">ID</th>
                    <th>Inköpt</th>
                    <th>Skapat</th>
                    <th>Beskrivning</th>
                    <th>Summa</th>
                    <th></th>
                </tr>
            </thead>
            <tr v-for="expense in non_attested_expenses" v-if="!flagged || expense.is_flagged">
                <td class="left" v-text="expense.id"></td>
                <td class="no-wrap"><a :href="'/expenses/' + expense.id + '/'" v-text="expense.expense_date"></a></td>  
                <td><a :href="'/expenses/' + expense.id + '/'" v-text="expense.created_date"></a> </td>
                <td><a :href="'/expenses/' + expense.id + '/'" v-text="capFirst(expense.description)"></a> </td>
                <td v-text="intcomma(expense.amount)"></td>
                <td class="right no-wrap">
                    <span class="icon" v-if="expense.is_flagged===true" title="Flaggad"><i class="fa fa-flag" style="color: red"></i></span>
                </td>
        </table>
        <p v-else>Du har inga oattesterade kvitton!</p>
    <br /><br />
    <h2>Attesterade kvitton</h2>
    {% if attested_expenses %}
        <table>
            <thead>
                <tr>
                    <th class="left">ID</th>
                    <th>Inköpt</th>
                    <th>Skapat</th>
                    <th>Beskrivning</th>
                    <th>Summa</th>
                </tr>
            </thead>
            {% for expense in attested_expenses %}
                <tr>
                    <td class="left">{{ expense.id }}</td>
                    <td><a href="{% url 'expenses-show' expense.id %}">{{ expense.expense_date|date:"Y-m-d" }}</a></td>
                    <td><a href="{% url 'expenses-show' expense.id %}">{{ expense.created_date|date:"Y-m-d" }}</a></td>
                    <td><a href="{% url 'expenses-show' expense.id %}">{{ expense.description|capfirst }}</a></td>
                    <td>{{ expense.total_amount }} kr</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Du har inga kvitton som väntar på att betalas ut.
    {% endif %}
    <br /><br />
    <h2>Utbetalda kvitton</h2>
    {% if reimbursements %}
        <table class="table">
            <thead>
                <tr>
                    <th>Utbet.datum</th>
                    <th>Tagg</th>
                    <th>Delar</th>
                </tr>
            </thead>
            {% for reimbursement in reimbursements reversed %}
                <tr>
                    <td><a href="{% url 'expenses-payment' reimbursement.id %}">{{ reimbursement.date|date:"Y-m-d" }}</a></td>
                    <td><a href="{% url 'expenses-payment' reimbursement.id %}">{{ reimbursement.tag }}</a></td>
                    <td>
                        <table>
                            {% for expense in reimbursement.expense_set.all %}
                                <tr>
                                    <td><a href="{% url 'expenses-show' expense.id %}">{{ expense.expense_date|date:"Y-m-d" }}</a></td>
                                    <td><a href="{% url 'expenses-show' expense.id %}">{{ expense.description }}</a></td>
                                    <td><a href="{% url 'expenses-show' expense.id %}">{{ expense.total_amount }} kr</a></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th colspan="2">Summa</th>
                                <td>{{ reimbursement.amount|intcomma }} kr</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Du har inga utbetalda kvitton.
    {% endif %}
</div>

<script type="text/javascript">
    new Vue({
        el: '#app',
        data: function () {
            return {
                flagged: false,
                non_attested_expenses: {% autoescape off %}{{ non_attested_expenses }}{% endautoescape %},
            }
        },
        methods: {
            intcomma(text){
                return parseInt(text).toLocaleString("en")
            },
            capFirst(val) {
                return String(val).charAt(0).toUpperCase() + String(val).slice(1);
            },
        },
    })
</script>
{% endblock %}
