{% extends "../main.html" %}

{% block title %}Fortnox{% endblock %}

{% block content %}


    {% if fortnox_user is not None %}
        <p>Du är inloggad som {{ fortnox_user.Name }}</p>
    {% else %}
        <a href={% url 'fortnox-auth-get' %}>Logga in på Fortnox</a>
    {% endif %}


    <h2>Konton</h2>
    {% for account in accounts %}
    	<p>{{ account.Number }} - {{ account.Description }}</p>
    {% endfor %}

    <h2>Kostnadsställen</h2>
     {% for costcenter in costcenters %}
     	<p>{{ costcenter.Code }} - {{ costcenter.Description }}</p>
     {% endfor %}




{% endblock %}
