{% extends "../main.html" %}

{% block title %}Detta är en testsida, haha gör vad du vill. NOT!{% endblock %}

{% block content %}
<div id="data" style="">
    Company info:
    <textarea disabled>{{ company_info }}</textarea>
    <input type="text" v-on:keyup="search" v-model="query" placeholder="Skriv ett kontofakker" />
    <li v-for="acc in accountarray">
        <span v-text="acc.Number"></span> - <span v-text="acc.Description"></span>
    </li>       
    Accounts:
    <textarea disabled>{{ accounts }}</textarea>
    Account chart:
    <textarea disabled>{{ accountchart }}</textarea>
    Voucher series:
    <textarea disabled>{{ voucher_series }}</textarea>
    Cost centers:
    <textarea disabled>{{ cost_centers }}</textarea>
    Expenses:
    <textarea disabled>{{ expenses }}</textarea>
    Labels:
    <textarea disabled>{{ labels }}</textarea>
    Predefined accounts:
    <textarea disabled>{{ predefined_accounts }}</textarea>
    
    <div>
        <h2>Importera konton i databasen</h2>
        <p>Genom att klicka på knappen importeras och förnyas hela kontoplanen.</p>
        <button onclick="location.href='test/importaccount'">Importera konton</button>
    </div>
</div>

<script type="text/javascript">
    new Vue({
        el: '#data',
        data: function () {
            return {
                company_info: {% autoescape off %}"{{ company_info }}"{% endautoescape %}, 
                accounts: {% autoescape off %}"{{ accounts }}"{% endautoescape %},   
                voucher_series: {% autoescape off %}"{{ voucher_series }}"{% endautoescape %},
                cost_centers: {% autoescape off %}"{{ cost_centers }}"{% endautoescape %},
                expenses: {% autoescape off %}"{{ expenses }}"{% endautoescape %},
                labels: {% autoescape off %}"{{ labels }}"{% endautoescape %},
                predefined_accounts: {% autoescape off %}"{{ predefined_accounts }}"{% endautoescape %},
                accountchart: {% autoescape off %}"{{ accountchart }}"{% endautoescape %},
                query: '',
                hoverIndex: 0,
                accountarray: []
            }
        },
        methods: {
            search() {
                fetch(`/admin/auth/search?search=${encodeURIComponent(this.query)}`, {
                    method: 'GET',
                    credentials: 'same-origin',
                    })
                .then(res => res.json())
                .then(res => {
                    this.accountarray = [];
                    if (res.error) {
                        console.error("Error:", res.error);
                    } else {
                        this.accountarray = res.accounts.map(account => ({
                            Description: account.Description,
                            Number: account.Number
                        })
                        );
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        }
    })
</script>

{% endblock %}
