{% extends "main.html" %}

{% block methone-links %}
    {% if user.is_authenticated %}
        {str: "Nytt utlägg", href: "{% url 'expenses-expense-new' %}" },
        {% if user.profile.may_attest %}
            {str: "Attestera", href: "{% url 'expenses-action-attest' %}"},
        {% endif %}
        {% if user.profile.may_pay %}
            {str: "Betala ut", href: "{% url 'expenses-action-pay' %}"},
        {% endif %}
        {% if user.profile.may_account %}
            {str: "Bokför", href: "{% url 'expenses-action-accounting' %}"},
        {% endif %}
        {% if user.profile.may_account %}
            {str: "Bokför", href: "{% url 'expenses-action-accounting' %}"},
        {% endif %}
        {% if user.profile.may_attest or user.profile.may_pay or user.profile.may_account %}
            {str: "Alla kvitton", href: "{% url 'expenses-expense-overview' %}"},
            {str: "Lista användare", href: "{% url 'expenses-userlist' %}"},
        {% endif %}
        {str: "Budgetöversikt", href: "{% url 'budget-overview' %}"},
        {str: "{{ user.username }}", href: "{% url 'expenses-user' user.username %}" }
    {% endif %}

{% endblock %}

{% block full_content %}
    <h4>Välkommen till Cashflow 2.0, Datasektionens helt nya utläggshanteringssystem!</h4>

    <p>Är det första gången du använder systemet så börja med att registrera dina bankuppgifter genom att klicka på
        ditt användarnamn ovan, därefter är det fritt fram att registrera kvitton i systemet.</p>

    <p>I Cashflow kan du ladda upp kvitton för dina utlägg digitalt. Du behöver alltså inte lämna in kvitton fysiskt
        längre.
        Det är dock bra att behålla kvittot tills dess att du fått dina pengar utifall något skulle vara konstigt.</p>

    <p>När du laddat upp ett kvitto kan du följa kvittot från din användarsida och se när det är godkänt samt när det är
        utbetalat. På så sätt kan du enkelt jämföra dina bankhändelser med cashflow och vara säker på att du fått
        tillbaka allt</p>
{% endblock %}